{%extends 'base.html' %}

{% block csslink %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/buscar_productos.css')}}" />
{%endblock%}

{% block navbar %}
 <li class="nav-item">
    <a class="nav-link active" aria-current="page"><strong>Productos</strong></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#" aria-current="page"><strong>Ve Notas de Pedido</strong></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#" aria-current="page"><strong>Ver Compradores</strong></a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link" href="{{url_for('auth.logout')}}"><strong>Cerrar Sesion</strong></a>
  </li>
{% endblock %}

{% block content %}
{% from "macro.html" import render_field %}
<br />
    <div class="row">
        <div class="col-9">
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <form id="buscarForm" method="post">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                            {{ buscar_form.nombreproducto.label(class="form-label")}}
                            <div class="input-group mb-3">
                                {{buscar_form.nombreproducto(class="form-control",placeholder="Search",id="inputSearch")}}        
                                <button class="btn btn-outline-success" type="submit" name="submit_buscar">Buscar</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-4 d-flex justify-content-center align-items-center mt-3 ">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#crearProductoModal">Crear Producto </button>
                    </div>
                </div>
        
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre Producto</th>
                            <th scope="col">Precio Costo</th>
                            <th scope="col">Precio Venta</th>
                            <th scope="col">Fecha Actualizacion</th>
                            <th scope="col">Stock</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for producto in productos %}
                        <tr id="{{ producto.id }}">
                            <th scope="row">{{producto.id}}</th>
                            <td>{{producto.nombre_producto}}</td>
                            <td>{{producto.precio_costo_producto}}</td>
                            <td>{{producto.precio_venta_producto}}</td>
                            <td>{{producto.fecha_actualizacion_producto}}</td>
                            <td>{{producto.get_stock()}}</td>
                            <td>                 
                                <div class='btn-group-sm' role="group">
                                    <button type="button" id="agregarProducto" class="btn btn-success btn-sm mb-1" data-id={{producto.id}} data-nombre="{{producto.nombre_producto}}" data-precio="{{producto.precio_venta_producto}}" data-cantidad="1.00">Agregar </button>
                                    <button type="button" class="btn btn-info mb-1 text-light editar-btn" data-id={{producto.id}}  >Editar </button>
                                    <button class="btn btn-danger mb-1 eliminar-btn" data-id="{{ producto.id }}"  data-nombre="{{producto.nombre_producto}}" data-bs-toggle="modal" data-bs-target="#confirmarEliminarModal">Eliminar</button>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-3">
            <div class="container">    
                <div id="listaProductos" class="productos-side-bar">
                    <p id="subTotalLista" style="color: #B12704; font-size: 20px; font-weight: bold;"></p>
                    <button type="button" class="boton-side-bar" id="boton-generar">Generar Nota</button>
                </div>
                <div class="vaciar-productos">
                    <button id="vaciar">Vaciar Productos</button>
                </div>                   
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="crearProductoModal" tabindex="-1" aria-labelledby="crearProductoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="crearProductoModalLabel">CREAR PRODUCTO</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <form id="crearProductoForm" method="post">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                            <div class="mb-3">
                                {{ producto_form.nombre_producto.label(class="form-label")}}
                                {{ producto_form.nombre_producto(class="form-control", id="inputNombreProducto")}}
                            </div>
                            <div class="mb-3">
                                {{ producto_form.precio_costo_producto.label(class="form-label")}}
                                {{ producto_form.precio_costo_producto(class="form-control",placeholder="0.00")}}
                            </div>
                            <div class="mb-3">
                                {{ producto_form.precio_venta_producto.label(class="form-label")}}
                                {{ producto_form.precio_venta_producto(class="form-control",placeholder="0.00")}}
                            </div>
                            <div class="mb-3">
                                {{ producto_form.stock.label(class="form-label")}}
                                {{ producto_form.stock(class="form-control",placeholder="0")}}
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" form="crearProductoForm" name="submit_crear">Crear Producto</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editarModal"  tabindex="-1" aria-labelledby="editarProductoModalLabel" aria-hidden="true"role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header"> 
                    <h5 class="modal-title" id="editarProductoModalLabel">EDITAR PRODUCTO</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Contenido cargado con JQuery y Ajax sera mostrado aqui-->
                </div>
            </div>
        </div>
    </div>

      <!-- Modal para confirmar la eliminación -->
    <div class="modal fade" id="confirmarEliminarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmar Eliminación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de eliminar <span id="nombreProductoEliminar"></span><span id="idProductoEliminar" class="text-white"></span>?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" id="confirmarEliminar">Eliminar</button>
                </div>
            </div>
        </div>
    </div>

   <!-- {% if prd==True %}
    <br>
    <br>
    <form id="buscar_comprador" method="POST" action="{{url_for('buyer.buscarcompradorbydni')}}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="form-group row">
            <label for="DNIComprador" class="col-sm2 col-form-label">Busca por DNI:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="DNIComprador" name="dni_comprador" />
            </div>
        </div>
        <input type="submit" value="Buscar-DNI" class="btnBuscarDNIPrd"/>
    </form>

        <h3>Nota de Pedido</h3>
        <form id="crear_nota" method="POST" action= "{% if editar %} {{url_for('note.editarNotaVentaNoId')}} {% else %} {{url_for('note.crear_nota_pedido')}} {% endif %}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <div class="form-group row">
                <label for="NombreComprador" class="col-sm2 col-form-label">Nombre del comprador:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="NombreComprador" name="comprador_name" value="{{session['nombre_comprador']}}" required />
                </div>
            </div>
            <div class="form-group row">
                <label for="DireccionComprador" class="col-sm2 col-form-label">Direccion:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="DireccionComprador" name="direccion_comprador" value="{{session['direccion_comprador']}}" required />
                </div>
            </div>
            <div class="form-group row">
                <label for="DNIComprador" class="col-sm2 col-form-label">DNI:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="DNIComprador" name="dni_comprador" value="{{session['dni_comprador']}}" required />
                </div>
            </div>
            <div class="form-group row">
                <label for="NumeroComprador" class="col-sm2 col-form-label">Telefono:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="NumeroComprador" name="telefono_comprador" value="{{session['telefono_comprador']}}" required />
                </div>
            </div>
            {% if editar %}
                <div class="form-group row">
                    <label for="FechaActualizar" class="col-sm2 col-form-label">Actualizar Fecha:</label>
                    <div class="col-sm-4">
                        <input type="date" class="form-control" id="FechaActualizar" name="FechaActualizar"  value="{{session['fecha_hoy']}}" required />
                    </div>
                </div>
            {% endif %}
            
            <div class="form-group row">
                <label for="EstadoNota" class="col-sm2 col-form-label">Estado:</label>
                <div class="col-sm-4">
                    <select name="estado" id="EstadoNota">
                        <option value="cancelado">CANCELADO</option>
                        <option value="cancelado-VISA">CANCELADO-VISA</option>
                        <option value="cancelado-BBVA">CANCELADO-BBVA</option>
                        <option value="cancelado-BCP">CANCELADO-BCP</option>
                        <option value="cancelado-YAPE">CANCELADO-YAPE</option>
                        <option value="por-cancelar">POR CANCELAR</option>
                        <option value="PROFORMA">PROFORMA</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4">
                    <select name="estado2" id="EstadoNota2">
                        <option selected value="-">----</option>
                        <option value="-entregado">ENTREGADO</option>
                        <option value="-por-recoger">POR RECOGER</option>
                    </select>
                </div>
            </div>
            <br> 
            <button type="submit" class="btn btn-success btn-sm">{% if editar %} Actualizar Nota Pedido {% else %} Crear Nota Pedido {% endif %}</button>
        </form>
        <br>
        <a id="btnEmpty"  class="btn btn-secondary btn-sm" href="{{ url_for('note.empty_cart') }}" role="button" style="position:sticky">Vaciar Nota de Pedido</a>

        <div class="table-responsive-xxl">
            <table class="table align-middle">
                <thead>
                    <th scope="col">#</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Nombre Producto</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Sub Total</th>
                    <th scope="col">Delete</th>
                </thead>
                <tbody>
                        {% for key,product in session['producto'].items() %}
                            <form method="post" action="{{url_for('note.updateproduct')}}">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                    <tr>
                                        <td>{{loop.index}} </td>
                                        <td>
                                            <input type="hidden" name="code" value="{{key}}" />
                                            <input type="text" class="product-quantity" name="quantity" value="{{product.cantidad}}" size="2" /> 
                                            <input type="submit" value="Actualizar Cantidad" class="btnUpdtCant" />
                                        </td>
                            </form>
                                        <td>{{product.name}}</td>
                                        <form method="post" action="{{url_for('note.updateprice')}}">
                                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />       
                                                <td>
                                                    <input type="hidden" name="code" value="{{key}}" />
                                                    <input type="text" class="product-price" name="price" value="{{product.precio}}" size="2" /> 
                                                    <input type="submit" value="Actualizar Precio" class="btnUpdtPrice" />
                                                </td>
                                        </form>
                                        <td>{{product.precio_individual}}</td>
                                        <form method="post" action="{{url_for('note.deleteproduct')}}">
                                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                            <td>
                                                <input type="hidden" name="code" value="{{product.id}}" />
                                                <input type="submit" value="Eliminar" class="btnDeletePrd" style="background-color: #f54257; border-radius: 1cm;" />
                                            </td>
                                        </form>
                                    </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="4" align="right"> Total: </td>
                            <td> <strong>{{session['total_venta']}}</strong></td>
                            <td>
                                <form method="post" action="{{url_for('note.updatedebt')}}">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                    <input type="text" class="debt" name="debt" placeholder="0" value="{{session['acuenta']}}" size="2"/>
                                    <input type="submit" value="A Cuenta" class="btnUpdateDebt"/>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            
                        </tr>
                </tbody>
            </table>
            <a class="btn btn-primary" href="{{ url_for('note.imprimir') }}" target="_blank" >Imprimir</a>
        </div>

           
    {%endif%}-->
{% endblock %}

{% block scripts%}
    <script>
        var crearModal = document.getElementById('crearProductoModal')
        var inputNombreProducto = document.getElementById('inputNombreProducto')
        crearModal.addEventListener('shown.bs.modal', function () {inputNombreProducto.focus()})
        var editarModal = document.getElementById('editarModal')
        const botonesEditar=document.querySelectorAll('.editar-btn')

        botonesEditar.forEach((boton)=>{
            boton.addEventListener('click',async (event)=>{
                const id=boton.getAttribute('data-id')
                var url=`/editar/${id}`;
                try{
                    const response= await fetch(url,{
                        method:'GET'
                    });
                    if (response.ok){
                        const html_content= await response.text();                       
                        document.getElementById('editarModal').querySelector('.modal-body').innerHTML=html_content;
                        
                        const editarModal = new bootstrap.Modal(document.getElementById('editarModal'));
                        editarModal.show();
                        
                        // Handle the submit event inside the modal
                        const editarForm=document.getElementById('editarForm');
                        editarForm.addEventListener('submit', async(e)=>{
                            e.preventDefault();
                            const formData=new FormData(editarForm);
                            try{
                                const submitResponse= await fetch(url,{
                                    method:'POST',
                                    body:formData
                                });
                                if (submitResponse.ok){
                                    editarModal.hide();
                                    location.reload();
                                } else{
                                    console.log('Error en la enviar el Formulario');
                                }
                            }
                            catch(error){
                                console.log(error);
                            }
                        })
                    
                    } else{
                        console.log('Error en la respuesta');
                    }
                }
                catch(error){
                    console.log(error);
                }
            });
        })
        
    </script>

    <script>
        // Capturar el clic en el botón "Eliminar"
        const botonesEliminar = document.querySelectorAll('.eliminar-btn');
      
        botonesEliminar.forEach((boton) => {
          boton.addEventListener('click', (event) => {
            const id = boton.getAttribute('data-id');
            const nombre_producto = boton.getAttribute('data-nombre');
            document.getElementById('nombreProductoEliminar').innerText = nombre_producto;
            document.getElementById('idProductoEliminar').innerText = id ;
        });
        });
      
        // Eliminar el elemento después de confirmar en el modal
        document.getElementById('confirmarEliminar').addEventListener('click', async () => {
          const id = document.getElementById('idProductoEliminar').innerText;
          var url_delete=`/eliminarproducto/${id}`;
          // Aquí puedes agregar la lógica para eliminar el elemento en tu backend si es necesario
          try{
            const response= await fetch(url_delete,{
                method:'GET'
            });
            if (response.ok){
                location.reload();
            } else{
                console.log(response.message);
                console.log('Error en la respuesta');
            }
          }catch(error){
                console.log(error);
            }
        });

        function actualizarSubTotal(){
            var JSONproductos = localStorage.getItem('productos');
            var products = JSONproductos ? JSON.parse(JSONproductos) : [];
            var subTotal= products.reduce((total,producto)=>{
                return total+producto.precio_venta_producto*producto.cantidad;
            },0);
            subTotal=parseFloat(subTotal).toFixed(2);  
            localStorage.setItem('subTotal',subTotal);
            document.getElementById('subTotalLista').innerText = 'S/.' + subTotal;
            
        }

      
        // Cuando la página se carga, recuperar el subtotal de localStorage y mostrarlo
        window.onload = function() {
            var subtotal = localStorage.getItem('subTotal');
            if (subtotal) {
                document.getElementById('subTotalLista').innerText = 'S/.' + subtotal;
            }
        };

        // Capturar el clic en el botón "Vaciar Productos"
        document.getElementById('vaciar').addEventListener('click', () => {
            // Eliminar la lista de productos de localStorage
            var JSONproductos = localStorage.getItem('productos');
            var products = JSONproductos ? JSON.parse(JSONproductos) : [];

            // Vaciar el array
            products.length = 0;

            // Guardar el array vacío de nuevo en localStorage
            localStorage.setItem('productos', JSON.stringify(products));

            localStorage.removeItem('subTotal');
            // Actualizar SubTotal
            actualizarSubTotal();
            location.reload();
        });

        // Capturar el clic en el botón "Generar Nota"
        document.getElementById('boton-generar').addEventListener('click', () => {
            // Abrir la página de generar nota
            var JSONproductos = localStorage.getItem('productos');
            var products = JSONproductos ? JSON.parse(JSONproductos) : [];
            if (products.length==0){
                alert('No hay productos en la lista');              
            }
            else{
                window.location.href = '/crearnotaventa';
            }
        });
    
    
        document.addEventListener('DOMContentLoaded', function() {

            // Capturar el clic en el botón "Agregar Producto"
            var productos=[];
            const botonesAgregar = document.querySelectorAll('#agregarProducto');
            //Validad que existe algun item en la lista de productos o sino mostrar un mensaje de error no hay productos
            const contenedor = document.getElementById('listaProductos');
            // Recuperar la lista de productos de localStorage al cargar la página
            var productosJSON = localStorage.getItem('productos');
            var productos = productosJSON ? JSON.parse(productosJSON) : [];

            // Función para crear y agregar el elemento div del producto
            function agregarProductoAlDOM(id, nombre_producto, precio_venta_producto, cantidad) {
                // Crear un elemento div para el producto
                var divProducto = document.createElement('div');
                divProducto.setAttribute('class', 'producto-item');
                divProducto.setAttribute('data-id', id);

                // Crear un elemento p para el nombre del producto
                var pNombre = document.createElement('p');
                pNombre.textContent = nombre_producto;
                divProducto.appendChild(pNombre);

                // Crear un elemento p para el precio del producto
                let divInputContainer = document.createElement('div');
                let pPrecioPrefix = document.createElement('span');
                pPrecioPrefix.textContent = 'S/. '+precio_venta_producto;
                divInputContainer.appendChild(pPrecioPrefix);
                divProducto.appendChild(divInputContainer);


                var divCantidad = document.createElement('div');
                divCantidad.setAttribute('class', 'cantidad-item');
                divProducto.appendChild(divCantidad);

                // Crear un elemento p para la cantidad del producto
                let pCantidad = document.createElement('input');
                pCantidad.setAttribute('class', 'inputCantidad');
                pCantidad.setAttribute('type', 'number');
                pCantidad.setAttribute('min', '1');
                pCantidad.setAttribute('step', '0.01');
                pCantidad.setAttribute('value', cantidad);
                pCantidad.setAttribute('data-id', id);
                divCantidad.appendChild(pCantidad);

                pCantidad.addEventListener('input', (event) => {
                    const id = pCantidad.getAttribute('data-id');
                    const cantidad = pCantidad.value;
                    var JSONproductos = localStorage.getItem('productos');
                    var products = JSONproductos ? JSON.parse(JSONproductos) : [];
                    var productosActualizados = products.map((producto) => {
                        if (producto.id === id) {
                            producto.cantidad = cantidad;
                        }
                        return producto;
                    });
                    JSONproductos = JSON.stringify(productosActualizados);
                    localStorage.setItem('productos', JSONproductos);

                    // Actualizar SubTotal
                    actualizarSubTotal();
                });


                // Crear boton eliminar de la lista
                let botonEliminar = document.createElement('button');
                let iconoEliminar = document.createElement('img');
                iconoEliminar.setAttribute('src', '/static/img/trash_icon.png');
                iconoEliminar.classList.add('icono-eliminar');
                botonEliminar.setAttribute('class','boton-side-bar')
                botonEliminar.setAttribute('data-id',id);
                botonEliminar.appendChild(iconoEliminar);
                

                botonEliminar.addEventListener('click', (event) => {
                    const id = botonEliminar.getAttribute('data-id');
                    let divProducto = document.querySelector(`div[data-id="${id}"]`);
                    divProducto.remove();

                    var JSONproductos = localStorage.getItem('productos');
                    var products = JSONproductos ? JSON.parse(JSONproductos) : [];
                    var productosFiltrados = products.filter((producto) => producto.id !== id);

                    // Guardar la lista actualizada en localStorage
                    localStorage.setItem('productos', JSON.stringify(productosFiltrados));
                    
                    actualizarSubTotal();
                });

                divCantidad.appendChild(botonEliminar);

                // Agregar el div del producto al contenedor
                contenedor.appendChild(divProducto);
        }

        // Recorrer la lista de productos y agregarlos al DOM al cargar la página
        productos.forEach(function(producto) {
            agregarProductoAlDOM(producto.id, producto.nombre_producto, producto.precio_venta_producto, producto.cantidad);
        });

        // Ahora, el evento click para agregar productos
        botonesAgregar.forEach((boton) => {
            boton.addEventListener('click', (event) => {
                
                const id=boton.getAttribute('data-id');

                const nombre_producto=boton.getAttribute('data-nombre');
                const precio_venta_producto= parseFloat(boton.getAttribute('data-precio'));
                const cantidad= parseFloat( boton.getAttribute('data-cantidad'));
                // Check if a product with the same id already exists in the array
                var productosJSON = localStorage.getItem('productos');
                var productos = productosJSON ? JSON.parse(productosJSON) : [];

                const productExists = productos.some(function(producto) {
                    return producto.id === id;
                });
                if (!productExists) {
                    // Si el producto no existe, agregarlo a la lista y al DOM
                    productos.push({ id, nombre_producto, precio_venta_producto, cantidad });
                    
                    // Convertir la lista de productos a formato JSON y guardar en localStorage
                    const productosJSON = JSON.stringify(productos);
                    localStorage.setItem('productos', productosJSON);
                    
                    agregarProductoAlDOM(id, nombre_producto, precio_venta_producto, cantidad);
                } 
                else {
                // Si el producto ya existe, mostrar un mensaje de error
                alert('El producto ya existe en la lista');
                }
                // Actualizar cualquier otra lógica que necesites realizar después de agregar un producto
                actualizarSubTotal();
            });
        });
    });


    </script>


{% endblock %}


