<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <title>Sistema Ventas</title>
    <link href="static/css/formularios.css" rel="stylesheet" />
  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category,message in messages %} {% if category
      =='error'%}
      <div class="alert alert-warning" role="alert">
        {{ message }}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      {% else %}
      <div class="alert alert-success" role="alert">
        {{ message }}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
  
      {%endif%} {%endfor%} {%endif%} {% endwith %}
    {% from "macro.html" import render_field %}
    <div class="crear-cuenta-contenedor">
      <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <!-- {{ form_usuario.csrf_token }} -->
        {{render_field(form_usuario.username,class="form-usuario")}}
        {{render_field(form_usuario.password,class="form-usuario")}}
        {{render_field(form_usuario.rol,class="form-usuario")}}

        <button type="submit">Enviar</button>
      </form>
    </div>
  </body>
</html>
