{%extends 'base.html' %} {% block navbar %} {{ super() }}
{% endblock %} {% block content %} {% from "macro.html" import render_field %}
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <br />
      <br />

      <form id="editar_form" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

        <div class="mb-3">
          <label for="NombreComprador" class="form-label">Nombre Comprador</label>
          <input type="text" value="{{nota.get_nombre_comprador()}}" class="form-control" id="NombreComprador" name="comprador_name">
          <p class="help-block text-danger"></p>
        </div>

        <div class="mb-3">
          <label for="DireccionComprador" class="form-label">Direccion Comprador</label>
          <input
              type="text"
              class="form-control"
              id="DireccionComprador"
              value="{{nota.get_direccion()}}"
              name="direccion_comprador"
            />
          <p class="help-block text-danger"></p>
        </div>

        <div class="input-group mb-3">
          <label for="EstadoNota" class="input-group-text"><strong>Estado:</strong></label>
          <input type="text" placeholder="{{nota.get_estado()}}" disabled class="input-group-text"/>

          <select class="form-select" aria-label="Default select example" name="estado" id="EstadoNota">
            <option selected>------</option>
            <option value="cancelado">CANCELADO</option>
            <option value="cancelado-VISA">CANCELADO-VISA</option>
            <option value="cancelado-BBVA">CANCELADO-BBVA</option>
            <option value="cancelado-BCP">CANCELADO-BCP</option>
            <option value="cancelado-YAPE">CANCELADO-YAPE</option>
            <option value="por-cancelar">POR CANCELAR</option>
            <option value="PROFORMA">PROFORMA</option>
            <option value="ANULADO">ANULADO</option>
          </select>

          <select name="estado2" id="EstadoNota" class="form-select">
            <option value="-">----</option>
            <option value="-entregado">ENTREGADO</option>
            <option value="-por-recoger">POR RECOGER</option>
          </select>

        </div>
        {% if nota.get_deuda() %} 
        <div class="mb-3">
          <label for="Deuda" class="form-label">Deuda:</label>
          <input type="text" value="{{ nota.get_deuda() }}" name="deuda">
        </div>
        {% endif %}

        <div class="mb-3">
          <label for="FechaCancelacion" class="form-label">Fecha Cancelacion:</label>
          <input
              type="date"
              value="{{nota.get_fecha_cancela()}}"
              id="FechaCancelacion"
              name="fecha_adicional"
              class="form-control"
            />
            <p class="help-block text-danger"></p>
        </div>

        <div class="row control-group">
          <div class="form-group col-s-24 floating label-form-group controls">
            <label for="Comentario" class="col-sm2 col-form-label">
              Comentario
            </label>
            <textarea
              class="form-control"
              aria-label="Comentario"
              id="Comentario"
              name="comentario"
            >
{{nota.get_comentario()}}</textarea
            >
            <!-- <input type="text" value=" " id="Comentario" name="comentario"/> -->
            <p class="help-block text-danger"></p>
          </div>
        </div>

        <br />
        <br />
        <div class="row">
          <div class="form-group cols=xs=12">
            <a
              class="btn btn-success"
              href="{{ url_for('note.vernotapedido') }}"
              >Regresar</a
            >
            <button type="submit" class="btn btn-primary">Actualizar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
