{% extends 'base.html' %} 
{% block navbar %}
{{ super() }}
{% endblock %}

{% block content %}
{% from "macro.html" import render_field %}
<br />
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
           
            <form id="SeleccionBusqueda" method="post" action="{{url_for('note.vernotapedido')}}" class="row g-3">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <div class="col-auto">
                    <select name="seleccionbusqueda" class="form-select">
                        <option value="Fecha">Fecha</option>
                        <option value="Nombre">Nombre</option>
                        <option value="DNI"> Buscar por DNI</option>
                        <option value="Ordenar por Cantidad">Ordenar por Cantidad</option>
                        <option value="Estado">Estado</option>
                        <option value="ID">Numero de Nota de Pedido</option>
                    </select>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-dark" >Filtrar</button>
                </div>
            </form>

        </div>
    </div>
</div> 


{% if bool_fecha==True %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <form class="form-inline" id="buscarForm" method="POST" action="{{url_for('note.vernotaporfecha')}}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label for="Fecha_inicio" class="col-sm2 col-form-label">Fecha Inicio</label>
                            <div class="col-sm-4">
                                <input type="date" class="form-control" id="Fecha_inicio" name="fecha_inicio" required />
                            </div>
                            <p class="help-block text-danger"></p>
                        </div>
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label for="Fecha_final" class="col-sm2 col-form-label">Fecha Final</label>
                        <div class="col-sm-4">
                            <input type="date" class="form-control" id="Fecha_final" name="fecha_final" required />
                        </div>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="row">
                        <div class="form-group cols=xs=12">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar Fechas</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{%elif bool_resumen==True%}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <br />
            <form class="form-inline" id="buscarForm" method="POST" action="{{url_for('note.verresumennotashoy')}}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <div class="row control-group">
                <div class="form-group col-xs-12 floating-label-form-group controls">
                    <label for="Fecha_seleccionada" class="col-sm2 col-form-label">Fecha de Resumen:</label>
                    <div class="col-sm-4">
                        <input type="date" class="form-control" id="Fecha_seleccionada" name="fecha_seleccionada" required />
                    </div>
                    <p class="help-block text-danger"></p>
                </div>
                <div class="row">
                    <div class="form-group cols=xs=12">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar Fecha</button>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
{% elif bool_nombre==True %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <br />
                <form class="form-inline" id="buscarForm" method="POST" action="{{url_for('note.vernotapornombre')}}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <div class="row control-group">
                    <div class="form-group col-xs-10 floating-label-form-group controls">
                        <label for="NombreComprador" class="col-sm2 col-form-label">Nombre Comprador</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="NombreComprador" name="nombre_comprador" required />
                        </div>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="row">
                        <div class="form-group cols=xs=12">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
{% elif id_cambio==True %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <br />
            <form class="form-inline" id="buscarForm" method="POST" action="{{url_for('note.vernotaID')}}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <div class="row control-group">
                <div class="form-group col-xs-10 floating-label-form-group controls">
                    <label for="IDNota" class="col-sm2 col-form-label">Numero de Nota de Pedido</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="IDNota" name="id_notas" required />
                    </div>
                    <p class="help-block text-danger"></p>
                </div>
                <div class="row">
                    <div class="form-group cols=xs=12">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
{% elif bool_estado==True %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <br />
            <form id="OpcionBusqueda" method="post" action="{{url_for('note.vernotaporestado')}}" class="row g-3">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <div class="col-auto">
                    <select name="opcionestado" id="OpcionesBusqueda" class="form-select">
                        <option value="cancelado-">CANCELADO</option>
                        <option value="cancelado-por-recoger">CANCELADO POR RECOGER</option>
                        <option value="cancelado-entregado">CANCELADO-ENTREGADO</option>
                        <option value="por-cancelar-">POR CANCELAR</option>
                        <option value="por-cancelar-por-recoger">POR CANCELAR POR RECOGER</option>
                        <option value="por-cancelar-entregado">POR CANCELAR-ENTREGADO</option>
                        <option value="cancelado-VISA-">CANCELADO VISA</option>
                        <option value="cancelado-VISA-entregado">CANCELADO VISA-ENTREGADO</option>
                        <option value="cancelado-VISA-por-recoger">CANCELADO VISA POR RECOGER</option>
                        <option value="cancelado-BBVA-">CANCELADO BBVA </option>
                        <option value="cancelado-BBVA-por-recoger">CANCELADO BBVA POR RECOGER</option>
                        <option value="cancelado-BBVA-entregado">CANCELADO BBVA ENTREGADO</option>
                        <option value="cancelado-BCP-">CANCELADO BCP </option>
                        <option value="cancelado-BCP-por-recoger">CANCELADO BCP POR RECOGER</option>
                        <option value="cancelado-BCP-entregado">CANCELADO BCP ENTREGADO</option>
                        <option value="cancelado-YAPE-">CANCELADO YAPE </option>
                        <option value="cancelado-YAPE-por-recoger">CANCELADO YAPE POR RECOGER</option>
                        <option value="cancelado-YAPE-entregado">CANCELADO YAPE ENTREGADO</option>
                        <option value="PROFORMA-">PROFORMA</option>
                        <option value="ANULADO-">ANULADO</option>
                    </select>
                </div>
                <div class="col-auto"><button type="submit" class="btn btn-info" >Buscar</button></div>
            </form>
        </div>    </div>
</div>
{% elif bool_dni==True %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <br />
            <form class="form-inline" id="buscarForm" method="POST" action="{{url_for('note.vernotaporDNI')}}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <div class="row control-group">
                <div class="form-group col-xs-10 floating-label-form-group controls">
                    <label for="DNIComprador" class="col-sm2 col-form-label">DNI Comprador: </label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="DNIComprador" name="dni_comprador" required />
                    </div>
                    <p class="help-block text-danger"></p>
                </div>
                <div class="row">
                    <div class="form-group cols=xs=12">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
{%endif%}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="table-responsive-xxl">
                <table class="table align-middle">
                    <thead>
                        <th scope="col">#</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Total</th>
                        <th scope="col">Estado </th>
                        <th scope="col">Fecha Cancelacion </th>
                        <th scope="col">Comentario</th>
                        <th scope="col">Deuda</th>
                        <th scope="col">Ver</th>
                        <th scope="col">Imprimir</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Anular</th>
                        <th scope="col">Editar Datos Venta</th>
                        <th scope="col">Convertir a Nota</th>
                    </thead>
                    <tbody>
                        {% for notaped in nota_pedido %}
                            {% if notaped.get_deuda()>0.0 %}  
                                <tr style="background-color: #F5F03A;">
                                    <td> {{notaped.get_id()}}</td>
                                    <td> {{notaped.get_fecha()}}</td>
                                    <td> {{notaped.get_nombre_comprador()}}</td>
                                    <td> {{notaped.get_total_venta()}}</td>
                                    <td> {{notaped.get_estado()}}</td>
                                    <td> {{notaped.get_fecha_cancelacion()}}</td>
                                    <td> {{notaped.get_comentario()}}</td>
                                    <td> {{notaped.get_deuda()}}</td>
                                    <td>
                                        <input type="hidden"  id='token' name="csrf_token" value="{{ csrf_token() }}" />
                                        <input type="submit" data-id="{{notaped.get_id()}}" value="Ver" class="btnSeebyId"/>
                                    </td>
                                    <td>
                                        <a class="btn btn-primary" href="{{ url_for('note.imprimire',id=notaped.get_id() ) }}" target="_blank" >Imprimir</a>
                                    </td>
                                    <td>
                                        <a class="btn btn-info" href="{{ url_for('note.editarnota',id=notaped.get_id() ) }}" target="_blank" >Editar</a>
                                    </td>
                                    <td>
                                        <a class="btn btn-warning" href="{{ url_for('note.anularnota',id=notaped.get_id() )}}">Anular</a>
                                    </td>
                                    <td>
                                        <a class="btn btn-info" href="{{ url_for('note.editarnotaventa',id=notaped.get_id() )}}">Editar Productos</a>
                                    </td>
                                    <!-- {% if notaped.get_estado() == 'PROFORMA-' %}
                                    <td>
                                        <a class="btn btn-secondary" href="{{ url_for('note.convertirNota',id=notaped.get_id() )}}">Convertir</a>
                                    </td>
                                    {% endif %} -->

                                </tr>
                            {% else %}
                                <tr>
                                    <td> {{notaped.get_id()}}</td>
                                    <td> {{notaped.get_fecha()}}</td>
                                    <td> {{notaped.get_nombre_comprador()}}</td>
                                    <td> {{notaped.get_total_venta()}}</td>
                                    <td> {{notaped.get_estado()}}</td>
                                    <td> {{notaped.get_fecha_cancelacion()}}</td>
                                    <td> {{notaped.get_comentario()}}</td>
                                    <td></td>
                                    <td>
                                        <input type="hidden"  id='token' name="csrf_token" value="{{ csrf_token() }}" />
                                        <input type="submit" data-id="{{notaped.get_id()}}" value="Ver" class="btnSeebyId"/>
                                    </td>
                                    <td>
                                        <a class="btn btn-primary" href="{{ url_for('note.imprimire',id=notaped.get_id() ) }}" target="_blank" >Imprimir</a>
                                    </td>
                                    <td>
                                        <a class="btn btn-info" href="{{ url_for('note.editarnota',id=notaped.get_id() ) }}" target="_blank" >Editar</a>
                                    </td>
                                    <td>
                                        <a class="btn btn-warning" href="{{ url_for('note.anularnota',id=notaped.get_id() )}}">Anular</a>
                                    </td>
                                    <td>
                                        <a class="btn btn-info" href="{{ url_for('note.editarnotaventa',id=notaped.get_id() )}}">Editar Productos</a>
                                    </td>
                                    <!-- {% if notaped.get_estado() == 'PROFORMA-' %}
                                    <td>
                                        <a class="btn btn-secondary" href="{{ url_for('note.convertirNota',id=notaped.get_id() )}}">Convertir</a>
                                    </td>
                                    {% endif %} -->

                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if bool_imprimir==True %}
            <a class="btn btn-primary" href="{{ url_for('note.imprimirresumen',fecha=fechita,fecha_final=fechita_final) }}" target="_blank" >Imprimir-Resumen</a>
            {% endif %}
            <p><strong>Total Venta del Dia:</strong> {{td}}</p>
            <p><strong>Total Venta del Dia por Visa:</strong> {{tdv}}</p>
            <p><strong>Total Venta del Dia por BCP:</strong> {{tdbcp}}</p>
            <p><strong>Total Venta del Dia por BBVA:</strong> {{tdbbva}}</p>
            <p><strong>Total Venta del Dia por YAPE:</strong> {{tdy}}</p>

            <p><strong>Total Venta del Dia por Cancelar:</strong> {{tdpc}}</p>
        </div>
    </div>
    
</div>

  <div class="modal fade" id="empModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Nota Pedido</h4>
              <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script type='text/javascript'>
    $(document).ready(function(){
        $('.btnSeebyId').click(function(){
            var notaid = $(this).data('id');
            var csrf_token = $('#token').val();
            $.ajax({
                url: `{{url_for('note.vernotapedido_id')}}`,
                type: 'post',
                headers:{
                    "X-CSRFToken":csrf_token,
                },
                data: {notaid: notaid},
                success: function(data){
                    $('.modal-body').html(data); 
                    $('.modal-body').append(data.htmlresponse);
                    $('#empModal').modal('show'); 
                }
            });
        });
    });
    </script>

{% endblock %}
