{% extends 'base.html' %} {% block navbar %} {{super()}}
{% endblock %} {% block content %} {% from "macro.html" import render_field %}
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <form
        class="form-inline"
        id="buscarForm"
        method="POST"
        action="{{url_for('buyer.vercompradores')}}"
      >
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <label for="DNIComprador" class="col-sm2 col-form-label"
              >Ingrese el DNI o '*' para ver a todos los compradores:
            </label>
            <div class="col-sm-4">
              <input
                type="text"
                class="form-control"
                id="DNIComprador"
                name="dni_comprador"
                required
              />
            </div>
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <div class="row">
          <div class="form-group cols=xs=12">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
              Buscar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="table-responsive-xxl">
        <table class="table align-middle">
          <thead>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Numero Telefono</th>
            <th scope="col">Tipo</th>
            <th scope="col">Direccion</th>
            <th scope="col">DNI</th>
            <th scope="col">Editar</th>
          </thead>
          <tbody>
            {% for comprador in form_comprador %}
            <tr>
              <td>{{loop.index}}</td>
              <td>{{comprador.get_nombre()}}</td>
              <td>{{comprador.get_telefono()}}</td>
              <td>{{comprador.get_tipo()}}</td>
              <td>{{comprador.get_direccion()}}</td>
              <td>{{comprador.get_dni()}}</td>
              <td>
                <a
                  class="btn btn-primary"
                  href="{{ url_for('buyer.editarcomprador',id=comprador.get_id() ) }}"
                  >Editar</a
                >
              </td>
              <td>
                <a
                  class="btn btn-danger"
                  href="{{ url_for('buyer.eliminarcomprador',id=comprador.get_id())}}"
                  >Eliminar</a
                >
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
