{%extends 'base.html' %}

{% block csslink %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/buscar_productos.css')}}" />
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css">
{%endblock%}

{% block navbar %}
 <li class="nav-item">
    <a class="nav-link" href="{{url_for('product.buscar_producto')}}" aria-current="page"><strong>Productos</strong></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="{{url_for('note.ver_notas_pedido')}}" aria-current="page"><strong>Ver Notas de Pedido</strong></a>
  </li>

  <li class="nav-item">
    <a class="nav-link active"aria-current="page"><strong>Ver Detalle Caja</strong></a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('buyer.vercompradores') }}" aria-current="page"><strong>Ver Compradores</strong></a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link" href="{{url_for('auth.logout')}}"><strong>Cerrar Sesion</strong></a>
  </li>
{% endblock %}

{% block messages %} 
  <div id="messagesLoader">

  </div>
{%endblock%}


{% block content %}
<div class="container-fluid mt-3">
    <!--Contenedor de Filtro por Fecha-->
    <div class="container-md">
        <form action="#" id="form_buscar_detalles">
            <div class="input-group mb-3">
                <span class="input-group-text" id="span_buscar_fecha_inicio">Fecha Inicio</span>
                <input type="date" class="form-control" placeholder="Fecha Inicio" aria-label="Fecha Inicio" aria-describedby="buscar_fecha_inicio" id="buscar_fecha_inicio">

                <span class="input-group-text" id="span_buscar_fecha_fin">Fecha Fin</span>
                <input type="date" class="form-control" placeholder="Fecha Fin" aria-label="Fecha Fin" aria-describedby="buscar_fecha_fin" id="buscar_fecha_fin">

                <button class="btn btn-outline-success" type="submit" id="boton-buscar-fecha">Buscar</button>
            </div>
        </form>
    </div>

    <!-- Contenedor Tabla de Contenido e Resumen-->
    <div class="container-fluid">
        <div class="row row-cols-2">
            <div class="col-12 col-xl-10">
                <!-- Tabla Contenido Resumen Ingresos-->
                <div class="table-responsive" >
                    <table class="table table-success table-striped" id="tabla-contenido-ingresos">
                        <thead class="table-dark" id="tabla-head-ingresos">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Nota_ID</th>
                            <th class="col">Tipo</th>
                            <th class="col">Vendedor</th>
                            <th class="col">Anulado</th>
                            <th class="col">Comentario</th>
                            <th scope="col">Pago_Efectivo</th>
                            <th scope="col">Pago_Visa</th>
                            <th scope="col">Pago_BBVA</th>
                            <th class="col">Pago_BCP</th>
                            <th scope="col">Pago_Yape</th>
                            <th class="col">Opciones</th>
                        </tr>
                        </thead>
                        <tbody id="tabla-body-ingresos">
                            <tr>
                                <th scope="row">1</th>
                                <td>2021-10-10</td>
                                <td>1</td>
                                <td>Nota</td>
                                <td>Jose</td>
                                <td>
                                    <i class="fas fa-check text-success"></i>
                                </td>
                                <td>Comentario</td>
                                <td>100</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>
                                    <button class="btn btn-outline-primary">Ver Detalle</button>
                                    <button class="btn btn-outline-danger">Anular</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-12 col-xl-2 order-2  order-xl-1 d-flex justify-content-center" style="max-height: 350px;">
                <!-- Resumen Ingresos-->
                <div class="card text-black  mb-3" style="max-width: 18rem;" id ="resumen-ingresos">
                    <div class="card-header">Resumen Ingresos</div>
                    <div class="body-resumen">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>General: S/.</strong> <span id="general_resumen">100</span></li>
                            <li class="list-group-item"> <strong>Efectivo: S/</strong> <span id="efectivo_resumen">10</span></li>
                            <li class="list-group-item"><strong>Visa: S/</strong> <span id="visa_resumen">25</span></li>
                            <li class="list-group-item"><strong>BBVA: S/</strong> <span id="bbva_resumen">30</span> </li>
                            <li class="list-group-item"><strong>BCP: S/</strong> <span id="bcp_resumen">50</span> </li>
                            <li class="list-group-item"><strong>Yape: S/</strong> <span id="yape_resumen">75</span> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-10 order-1 order-xl-2">
                <!-- Tabla Contenido Resumen Egresos-->
                <div class="table-responsive" >
                    <table class="table table-danger table-striped" id="tabla-contenido-egresos">
                        <thead class="table-dark" id="tabla-head-egresos">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Nota_ID</th>
                            <th class="col">Tipo</th>
                            <th class="col">Vendedor</th>
                            <th class="col">Anulado</th>
                            <th class="col">Comentario</th>
                            <th scope="col">Pago_Efectivo</th>
                            <th scope="col">Pago_Visa</th>
                            <th scope="col">Pago_BBVA</th>
                            <th class="col">Pago_BCP</th>
                            <th scope="col">Pago_Yape</th>
                            <th class="col">Opciones</th>
                        </tr>
                        </thead>
                        <tbody id="tabla-body-egresos">
                            <tr>
                                <th scope="row">1</th>
                                <td>2021-10-10</td>
                                <td>1</td>
                                <td>Nota</td>
                                <td>Jose</td>
                                <td>
                                    <i class="fas fa-times text-danger"></i>
                                </td>
                                <td>Comentario</td>
                                <td>100</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>
                                    <button class="btn btn-outline-primary">Ver Detalle</button>
                                    <button class="btn btn-outline-danger">Anular</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}

{% block scripts%}
<!-- Script para Filtrar la Tabla de Contenido -->
<!-- DataTables JS -->
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>

<script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>

<!-- Inicialiazando Tablas con Filtro de DataTables-->
<script>
    $(document).ready(function(){
        new DataTable('#tabla-contenido-ingresos')
        new DataTable('#tabla-contenido-egresos')
    })

    $('#tabla-contenido-ingresos').DataTable({
        "autoWidth": false,
        "processing": true,
        "searching": false,
        "dom": 'Blrftip',
        "buttons":[
            {
                extend:'copy',
                exportOptions: {
                    columns: [0,1,2,3,4,5,6,7,8,9,10,11]
                }
            },
            {
                extend:'csv',
                exportOptions: {
                    columns: [0,1,2,3,4,5,6,7,8,9,10,11]
                }
            },
            {
                extend:'excel',
                exportOptions: {
                    columns: [0,1,2,3,4,5,6,7,8,9,10,11]
                }
            },
            {
                extend:'pdf',
                exportOptions: {
                    columns: [0,1,2,3,4,5,6,7,8,9,10,11]
                }
            },
            {
                extend:'print',
                text:'Imprimir',
                exportOptions: {
                    columns: [0,1,2,3,4,5,6,7,8,9,10,11]
                },
                customize: function(win){
                    var contenidoClonado = $('#resumen-ingresos').clone()
                    $(win.document.body).append(contenidoClonado);
                }
            }
        ],
        "language": {
            "lengthMenu": "Mostrar _MENU_ registros por pagina",
            "zeroRecords": "No se encontro registros",
            "info": "Mostrando la pagina _PAGE_ de _PAGES_",
            "infoEmpty": "No hay registros disponibles",
            "infoFiltered": "(Filtrado de _MAX_ registros totales)",
            "search": "Buscar:",
            "paginate": {
                "first": "Primero",
                "last": "Ultimo",
                "next": "Siguiente",
                "previous": "Anterior"
            }
        }	
    })

    $('#tabla-contenido-egresos').DataTable({
        "autoWidth": false,
        "processing": true,
        "searching": false,
        "dom": 'Blrftip',
        "buttons":[
            {
                extend:'copy',
                exportOptions: {
                    columns: [0,1,2,3,4,5,6,7,8,9,10,11]
                }
            },
            {
                extend:'csv',
                exportOptions: {
                    columns: [0,1,2,3,4,5,6,7,8,9,10,11]
                }
            },
            {
                extend:'excel',
                exportOptions: {
                    columns: [0,1,2,3,4,5,6,7,8,9,10,11]
                }
            },
            {
                extend:'pdf',
                exportOptions: {
                    columns: [0,1,2,3,4,5,6,7,8,9,10,11]
                }
            },
            {
                extend:'print',
                text:'Imprimir',
                exportOptions: {
                    columns: [0,1,2,3,4,5,6,7,8,9,10,11]
                }
            }
        ],
        "language": {
            "lengthMenu": "Mostrar _MENU_ registros por pagina",
            "zeroRecords": "No se encontro registros",
            "info": "Mostrando la pagina _PAGE_ de _PAGES_",
            "infoEmpty": "No hay registros disponibles",
            "infoFiltered": "(Filtrado de _MAX_ registros totales)",
            "search": "Buscar:",
            "paginate": {
                "first": "Primero",
                "last": "Ultimo",
                "next": "Siguiente",
                "previous": "Anterior"
            }
        }	
    })

</script>

{%endblock%}