{%extends 'base.html' %}

{% block csslink %}
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css">
{% endblock %}

{% block navbar %}
<li class="nav-item">
    <a class="nav-link" href="{{url_for('product.buscar_producto')}}" aria-current="page"><strong>Productos</strong></a>
</li>
<li class="nav-item">
    <a class="nav-link active" aria-current="page"><strong>Ver Notas de Pedido</strong></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('buyer.vercompradores') }}" aria-current="page"><strong>Ver Compradores</strong></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{url_for('auth.logout')}}"> <strong>Cerrar Sesion</strong></a>
</li>
{% endblock %}

{% block messages %} 
  <div id="messagesLoader">

  </div>
{%endblock%}


{% block content %}
<div class="container-fluid mt-3">
    <div class="container-fluid">
        <!--Contendor de Opciones o Filtros para la Tabla de Contenido-->
        <div class="row">
            <div class="col-xl-8">
                <!-- Fomulario para filtrar por Compradores-->
                <form action="#" id="buscarCompradorForm">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Buscar Comprador" aria-label="Buscar Comprador" aria-describedby="buscar_comprador" id="buscar_comprador">
                        <button class="btn btn-outline-success" type="submit" id="boton-buscar-comprador">Buscar</button>
                    </div>
                </form>
            </div>
            <div class="col-xl-4">
                <!-- Inputs Tipo Fecha de Inicio y Fin-->
                <form action="#" id="buscarFechaForm">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="span_buscar_fecha_inicio">Fecha Inicio</span>
                        <input type="date" class="form-control" placeholder="Fecha Inicio" aria-label="Fecha Inicio" aria-describedby="buscar_fecha_inicio" id="buscar_fecha_inicio">

                        <span class="input-group-text" id="span_buscar_fecha_fin">Fecha Fin</span>
                        <input type="date" class="form-control" placeholder="Fecha Fin" aria-label="Fecha Fin" aria-describedby="buscar_fecha_fin" id="buscar_fecha_fin">

                        <button class="btn btn-outline-success" type="submit" id="boton-buscar-fecha">Buscar</button>
                    </div>
                </form>

            </div>
        </div>

        <div class="container-sm">
            <div class="row ">     
                <div class="col-md-2">
                    <div class="input-group mb-4">
                        <div class="input-group-text">
                            <input class="form-check-input mt-0" type="checkbox" aria-label="Check para habilitar input ID" id="checkID">
                        </div>
                        <input type="text" class="form-control" placeholder="Buscar por ID" aria-label="Buscar por ID" aria-describedby="buscar_id" id="inputID" disabled>
                    </div>
                </div>
    
                <div class="col-md-2">
                    <div class="input-group mb-4">
                        <div class="input-group-text">
                            <input type="checkbox" class="form-check-input" value="" aria-label="Check para habilitar input DNI" id="checkDNI">
                        </div>
                        <input type="text" class="form-control" placeholder="Buscar por DNI" aria-label="Buscar por DNI" aria-describedby="buscar_dni" id="inputDNI" disabled>
                    </div>
                </div>
    
                <div class="col-md-3">
                    <div class="input-group mb-4">
                        <span class="input-group-text" id="span_estado">Estado:</span>
                        <select class="form-select" aria-label="Estado1" id="inputEstado1">
                            <option selected disabled value="">Seleccione</option>
                            <option value="CANCELADO">CANCELADO</option>
                            <option value="POR-CANCELAR">POR CANCELAR</option>
                            <option value="PROFORMA">PROFORMA</option>
                        </select>
    
                        <select class="form-select" aria-label="Estado2" aria-placeholder="Seleccione" id="inputEstado2">
                            <option selected disabled value="">Seleccione</option>
                            <option value="-">-</option>
                            <option value="ENTREGADO">ENTREGADO</option>
                            <option value="POR-ENTREGAR">POR ENTREGAR</option>
                        </select>                    
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group mb-3">
                        <button class="btn btn-outline-info" type="button" id="boton-limpiar-filtros" onclick="limpiarFiltros()">Limpiar Filtros</button>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group mb-3">
                        <button class="btn btn-primary" type="button" id="boton-nuevo-ingreso-salida" >Crear Ingreso-Egreso</button>
                    </div>
                </div>
            </div>
        </div>  
    </div>

    <div class="container-fluid">
        <!--Contendor de Tabla de Contenido y Resumen de Ventas -->
        <div class="row">
            <div class="col-12 col-lg-10">
                <!-- Tabla de Contenido Resumen-->
                <div class="table-responsive" id="tabla-contenido-ventas">
                    <table class="table" id="tabla-resumen-notas">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Comprador</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Total</th>
                                <th scope="col">Fecha Cancelacion</th>
                                <th scope="col">Comentario</th>
                                <th scope="col">Deuda</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="tbodyTablaVentas">
                            {% for nota in nota_pedido %}
                            <tr id="{{ nota.id }}">
                                <th scope="row">{{nota.id}}</th>
                                <td>{{nota.fecha_creacion}}</td>
                                <td>{{nota.nombre_comprador}}</td>
                                <td>{{nota.estado}}</td>
                                <td>{{nota.total_venta}}</td>
                                <td>{{ nota.fecha_cancelacion if nota.fecha_cancelacion is not none else '' }}</td>
                                <td>{{nota.comentario}}</td>
                                <td>{{nota.deuda}}</td>
                                <td>
                                    <div class="d-flex flex-nowrap gap-2" >
                                        <button type="button" class="btn btn-outline-dark btn-sm" id="btn-imprimir" data-id="{{nota.id}}">Imprimir</button>
                                        <button type="button" class="btn btn-outline-primary btn-sm" id="btn-ver" data-id="{{nota.id}}">Ver</button>
                                        <button type="button" class="btn btn-outline-info btn-sm" id="btn-editar" data-id="{{nota.id}}">Editar</button>
                                        <button type="button" class="btn btn-outline-warning btn-sm" id="btn-anular" data-id="{{nota.id}}">Anular</button>
                                        <button type="button" class="btn btn-outline-danger btn-sm" id="btn-eliminar" data-id="{{nota.id}}">Eliminar</button>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
            
            <div class="col-lg-2 d-flex justify-content-center" style="max-height: 305px;">
                <!-- Resumen de Ventas Numerico-->
                <div class="card" style="width: 18rem;" id="resumen-venta-numerico">
                    <div class="card-header">
                        <h5 style="text-align: center; font-weight: bolder;">Total Venta del Dia</h5>
                    </div>
                    <div class="body-resumen">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>General: S/.</strong> <span id="general_resumen">{{ total_venta_resumen if total_venta_resumen is not none else 0.00 }}</span></li>
                            <li class="list-group-item"> <strong>Efectivo: S/</strong> <span id="efectivo_resumen">{{ total_pago_efectivo if total_pago_efectivo is not none else 0.00}}</span></li>
                            <li class="list-group-item"><strong>Visa: S/</strong> <span id="visa_resumen">{{ total_pago_visa if total_pago_visa is not none else 0.00}}</span></li>
                            <li class="list-group-item"><strong>BBVA: S/</strong> <span id="bbva_resumen">{{ total_pago_bbva if total_pago_bbva is not none else 0.00}}</span> </li>
                            <li class="list-group-item"><strong>BCP: S/</strong> <span id="bcp_resumen">{{ total_pago_bcp if total_pago_bcp is not none else 0.00}}</span> </li>
                            <li class="list-group-item"><strong>Yape: S/</strong> <span id="yape_resumen">{{ total_pago_yape if total_pago_yape is not none else 0.00}}</span> </li>
                        </ul>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal para Ver Nota de Pedido-->
<div class="modal fade" id="verNotaModal" tabindex="-1" aria-labelledby="verNotaModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">                    
                <h5 class="modal-title" id="verNotaModalLabel">Nota de Pedido</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="btn-close-ver-nota"></button>
            </div>
        
            <div class="modal-body" style="padding: 1px;" id="contenido-modal">
                <div class="container-fluid">
                    <div class="container-header">
                        <h3 style="text-align: center;"><strong>&nbsp;FERRETERIA PERALVILLO E.I.R.L</strong></h3>
                    </div>
                    <div class="container-body">
                        <div class="container-principal-info" style="overflow: auto;">
                            <div style="text-align: left;">&nbsp;Av San Mart&iacute;n Mz. "G5" lote 04 C.P.Peralvillo
                                <table style="width: 28.4084%; border-collapse: collapse; float: right; height: 47px;" border="2">
                                <tbody>
                                    <tr >
                                    <td style="width: 100%; height: 18px; text-align: center;"><strong>NOTA DE PEDIDO</strong></td>
                                    </tr>
                                    <tr >
                                    <td style="width: 100%; text-align: justify; height: 29px; text-align: center;">N°: 1555</td>
                                    </tr>
                                    <tr >
                                    <td style="width: 100%; text-align: justify; height: 18px; text-align: center;"><strong>ESTADO:</strong></td>
                                    </tr>
                                    <tr >
                                        <td style="width: 100%; text-align: justify; height: 29px; text-align: center;">CANCELADO</td>
                                    </tr>
                                    <tr >
                                        <td style="width: 100%; text-align: justify; height: 18px; text-align: center;"><strong>FECHA:</strong></td>
                                    </tr>
                                    <tr >
                                        <td style="width: 100%; text-align: justify; height: 29px; text-align: center;">27/01/22</td>
                                    </tr>
                                    
                                </tbody>
                                </table>
                            </div>
                            <div style="text-align: left;">(al costado del estadio Peralvillo)</div>
                            <div style="text-align: left;"><span style="text-align: center;">Telefono: (01)-758 9381 &nbsp;Celular: 981193256</span></div>
                            <br>
                            <div style="text-align: left;"> <em>VENTA DE AGREGADOS Y MATERIALES DE CONSTRUCCION</em></div>
                            <div style="text-align: left;"> Vendedora: @Milagros</div>
                        </div>
                        
                        <div class="container comprador-info" style="margin-top: 16px; padding: 0px;">
                            <div class="row row-cols-2">
                                <div class="col" id="modal-comprador"></div>
                                <div class="col" id="modal-telefono"></div>
                                <div class="col" id="modal-direccion"></div>
                                <div class="col" id="modal-dni"></div>
                            </div>
                            <div class="container-fluid" style="padding: 0px;">
                                <table class="table">
                                    <thead>
                                        <th scope="col" style="font-size:80%;">Cantidad</th>
                                        <th scope="col" style="font-size:80%;">Producto</th>
                                        <th scope="col" style="font-size:80%;">Precio</th>
                                        <th scope="col" style="font-size:80%;">Sub Total</th>
                                    </thead>
                                    <tbody id="tabla-productos">
                                        <!--<tr>
                                            <td style="font-size:80%;"> 1</td>
                                            <td style="font-size:80%;">Arena Gruesa</td>
                                            <td style="font-size:80%;">S/. 100.00</td>
                                            <td style="font-size:80%;">S/. 100.00</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" align="right" style="font-size: 90%;"><strong>Total:</strong></td>
                                            <td style="font-size:80%;"> <strong>S/. 100.00</strong></td>
                                        </tr>-->
                                    </tbody>
                                </table>
                                <p style="width: 100%; height: 25px; font-size: 80%; text-align: center; "><span style="color: #000000;"><strong> UNICO COMPROBRANTE PARA RECOGER SU MERCADERIA Y CAMBIARLA POR BOLETA O FACTURA</strong></span></p>
                                    <div style="font-size: 70%; text-align: center;">
                                      RECUERDE POR FAVOR REVISAR SU VUELTO Y LA MERCADERIA ANTES DE RETIRARSE DEL LOCAL
                                      NO ESTA SUJETO A CAMBIO NI DEVOLUCION
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="imprimir-modal">Imprimir</button>
                <button type="button" class="btn btn-secondary" id="btn-close-ver-nota" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Crear Ingreso/Salida-->
<div class="modal fade" id="nuevoIngresoSalidaModal" tabindex="-1" aria-labelledby="nuevoIngresoSalidaModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">                    
                <h5 class="modal-title" id="nuevoIngresoSalidaModalLabel">Nuevo Ingreso-Egreso</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="btn-close-nuevo-ingreso-salida"></button>
            </div>
            <div id="messagesLoaderModal">

            </div>
        
            <div class="modal-body" id="contenido-modal-nuevo-ingreso">
                <!-- Formulario para crear IngresoSalida -->
                <form action="#" id="nuevoIngresoSalidaForm">
                    <!-- Fecha de Ingreso-Egreso -->
                    <div class="mb-3 row">
                        <label for="inputFechaSalida" class="col-sm-2 col-form-label">Fecha</label>
                        <div class="col-sm-10">
                            <input type="date" class="form-control" name="inputFechaSalida" id="inputFechaSalida" value="" required>
                        </div> 
                    </div>
                    <!-- Opcion Ingreso-Egreso -->
                    <div class="mb-3 row">
                        <label for="inputTipoSalida" class="col-sm-2 col-form-label">Tipo</label>
                        <div class="col-sm-10">
                            <select class="form-select" name="inputTipoSalida" id="inputTipoSalida" required>
                                <!-- Agregar Validacion  de que no la seleccion no puede ser vacia-->
                                <option selected disabled value="">Seleccione</option>
                                <option value="INGRESO">Ingreso</option>
                                <option value="EGRESO">Egreso</option>
                            </select>
                        </div>
                    </div>

                    <!-- Seleccion Checkbox Nota ID-->
                    <!-- Verificar si esta activado el checkbox debe el valor debe ser un numero, sino puede ser vacio-->
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" id="checkNotaID">
                        <div class="input-group">
                            <span class="input-group-text" id="notaIDSpan">Nota ID</span>
                            <input type="number" class="form-control" placeholder="0.00" min="0" step="1" aria-label="Buscar Nota ID" aria-describedby="buscar_nota_id" name="inputNotaID" id="inputNotaID" disabled>
                        </div>
                    </div>

                    <!-- Input Dinero Devolver Opcion Egreso-->
                    <!-- Para hacerlo visible o invisible agregar el estilo display :none o no-->
                    <div class="mb-3 row">
                        <label for="inputDineroDevolver" class="col-sm-2 col-form-label">Dinero Egreso:</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" name="inputDineroDevolver" id="inputDineroDevolver" placeholder="S/0.00">
                        </div>
                    </div>

                    <!-- Input Dinero Ingreso Opcion Ingreso-->
                    <!-- Para hacerlo visible o invisible agregar el estilo display :none o no-->
                    <!-- Validar si la Nota Ingresada tiene una deuda,en caso no tuviera deuda mostrar mensaje la nota no tiene deuda y no se muestra el siguiente bloque-->
                    <div class="mb-3 row">
                        <label for="inputDineroIngreso" class="col-sm-2 col-form-label">Deuda :</label> <!-- Al lado de la deuda debe ir el valor de deuda obtenido-->
                        <div class="col-sm-10">
                            <input type="number" class="form-control" name="inputDineroIngreso" id="inputDineroIngreso" placeholder="S/0.00">
                        </div>
                    </div>

                    <!-- Input Dinero si no se usa Nota ID-->
                    <!-- No mostrar esta seccion si checkbox ID esta activado-->
                    <div class="mb-3 row">
                        <label for="inputDinero" class="col-sm-2 col-form-label">Cantidad Dinero:</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" name="inputDinero" id="inputDinero" placeholder="S/0.00">
                        </div>
                    </div>

                    <!-- Input Comentario detalle-->
                    <!-- Este comentario siempre estara habilitado-->
                    <div class="mb-3 row">
                        <label for="inputComentario" class="col-sm-2 col-form-label">Comentario:</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" name="inputComentario" id="inputComentario" rows="3"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btn-close-nuevo-ingreso-salida" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" form="nuevoIngresoSalidaForm" id="btn-guardar-nuevo-ingreso-salida">Guardar</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<!-- Script para Filtrar la Tabla de Contenido -->
<!-- DataTables JS -->
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>

<script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>


<!-- Inicializando Tabla de Resumen de Notas de Pedido con los Filtros de DataTables-->
<script>
    $(document).ready(function() {
      new DataTable("#tabla-resumen-notas");
    });
    $('#tabla-resumen-notas').DataTable({
        "autoWidth": false,
        "processing": true,
        "searching": false,
        "dom":'Blrftip',
        "buttons": [
                {
                    extend: 'copy',
                    exportOptions: {
                        columns: [0,1,2,3,4,5,6,7]
                    }
                },
                {
                    extend: 'csv',
                    exportOptions: {
                        columns: [0,1,2,3,4,5,6,7]
                    }
                },
                {
                    extend: 'excel',
                    exportOptions: {
                        columns: [0,1,2,3,4,5,6,7]
                    }
                },
                {
                    extend: 'pdf',
                    exportOptions: {
                        columns: [0,1,2,3,4,5,6,7]
                    }
                },
                {
                    extend: 'print',
                    text:'Imprimir',
                    exportOptions: {
                        columns: [0,1,2,3,4,5,6,7]
                    },
                    customize: function(win){
                        var contenidoClonado = $('#resumen-venta-numerico').clone();
                        $(win.document.body).append(contenidoClonado);
                    }
                }
            ],
        "language": {
            "lengthMenu": "Mostrar _MENU_ registros",
            "zeroRecords": "No se encontraron resultados",
            "info": "Mostrando la página _PAGE_ de _PAGES_",
            "infoEmpty": "No hay registros disponibles",
            "infoFiltered": "(filtrado de _MAX_ registros totales)",
            "paginate": {
                "first": "Primero",
                "last": "Último",
                "next": "Siguiente",
                "previous": "Anterior"
            }
        }
    });


</script>

<script >
    // DoomLoaded
    document.addEventListener('DOMContentLoaded', function(){ 
        // Obteniendo los datos de la URL
        let url = new URL(window.location.href);
        let params = new URLSearchParams(url.search);

        // Obteniendo los valores de los parametros de la URL
        let comprador = params.get('comprador');
        let fechaInicio = params.get('fecha_inicio');
        let fechaFin = params.get('fecha_final');
        let id = params.get('id');
        let dni = params.get('dni');
        let estado = params.get('estado');
        let estado2 = params.get('estado2');

        // Seteando los valores de los parametros de la URL en los inputs
        document.getElementById('buscar_comprador').value = comprador;
        document.getElementById('buscar_fecha_inicio').value = fechaInicio;
        document.getElementById('buscar_fecha_fin').value = fechaFin;
        document.getElementById('inputID').value = id;
        document.getElementById('inputDNI').value = dni;
        document.getElementById('inputEstado1').value = estado;
        document.getElementById('inputEstado2').value = estado2;

        // Si el input ID tiene un valor, se activa el check
        if (id){
            document.getElementById('checkID').checked = true;
            document.getElementById('inputID').disabled = false;
        }

        // Si el input DNI tiene un valor, se activa el check
        if (dni){
            document.getElementById('checkDNI').checked = true;
            document.getElementById('inputDNI').disabled = false;
        }

    });
    
    // Funcion para limpiar los filtros
    function limpiarFiltros(){
        let url = new URL(window.location.href);
        let params = new URLSearchParams(url.search);

        params.delete('comprador');
        params.delete('fecha_inicio');
        params.delete('fecha_final');
        params.delete('id');
        params.delete('dni');
        params.delete('estado');
        params.delete('estado2');

        url.search=params.toString(); //actualiza la cadena de consulta de la URL con los nuevos parámetros.
        window.location.href = url.toString();
    }

    
    // Obteniendo los datos del Formulario CompradorNombre Form
    document.getElementById('buscarCompradorForm').addEventListener('submit', function(e){
        e.preventDefault();
        let comprador = document.getElementById('buscar_comprador').value;

        // Verificar que el input no esté vacío
        if (comprador === '') {
            document.getElementById("messagesLoader").innerHTML = `
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                El campo comprador no puede estar vacio
                <button
                type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"
                ></button>
            </div>
            `;
            return;
        }

        // Verificar que el input solo pueda contener letras, espacios o ['.', '*', '-']
        if (!/^[a-zA-ZñÑáéíóúÁÉÍÓÚ\s\.\*\-]+$/.test(comprador)) {
            document.getElementById("messagesLoader").innerHTML = `
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                El campo comprador solo puede contener letras, espacios, '.', '*', '-'
                <button
                type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"
                ></button>
            </div>
            `;
            return;
        }

        let url = new URL(window.location.href);
        let params = new URLSearchParams(url.search);

        if (comprador){
            params.set('comprador', comprador);
        } else {
            params.delete('comprador');
        }

        // Eliminado parametros DNI e ID de la URL por que estos son busquedas independientes
        params.delete('dni')
        params.delete('id')
    
        url.search=params.toString(); //actualiza la cadena de consulta de la URL con los nuevos parámetros.
        window.location.href = url.toString();
    });



    // Funciones para Filtrar la Tabla de Contenido
    document.getElementById('buscarFechaForm').addEventListener('submit', function(e){
        e.preventDefault();
        let fechaInicio = document.getElementById('buscar_fecha_inicio').value;
        let fechaFin = document.getElementById('buscar_fecha_fin').value;
        //let fechaFin = new Date(document.getElementById('buscar_fecha_fin').value);

        let url = new URL(window.location.href);
        let params = new URLSearchParams(url.search);

        if (fechaInicio){
            //Agregabdo un día a la fecha final para que se incluya en la búsqueda
            //fechaFin.setDate(fechaFin.getDate() + 1);
            params.set('fecha_inicio', fechaInicio);
            params.set('fecha_final', fechaFin);
            //params.set('fecha_final', fechaFin.toISOString().split('T')[0]); // Convertir la fecha a formato ISO y quitar la hora

        } else {
            params.delete('fecha_inicio');
            params.delete('fecha_final');
        }

        //params.delete('dni')
        params.delete('id') // Eliminar el parámetro id de la URL
        
        url.search=params.toString(); //actualiza la cadena de consulta de la URL con los nuevos parámetros.
        window.location.href = url.toString();
    });

    const checkID = document.getElementById('checkID');
    const inputID = document.getElementById('inputID');
    checkID.addEventListener('change', function(){
        inputID.disabled = !this.checked; // Si el check está activado, el input se desactiva y viceversa
    });

    // Si el check esta activo, se manda el valor del inputID como argumento al URL, si esta desactivado se manda un string vacio
    inputID.addEventListener('change', function(){
        let url = new URL(window.location.href);

        // Crear un nuevo objeto URLSearchParams vacío
        let params = new URLSearchParams(url.search);
        if (checkID.checked){
            // Validar que el inputID sea un número [0-9]
            if (!/^[0-9]+$/.test(this.value)) {
                document.getElementById("messagesLoader").innerHTML = `
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    El campo ID solo puede contener números
                    <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close"
                    ></button>
                </div>
                `;
                return;
            }
            params.set('id', this.value);
        } else {
            params.delete('id');
        }
        
        params.delete('fecha_inicio');
        params.delete('fecha_final');
        params.delete('comprador');
        params.delete('dni')
        params.delete('estado');
        params.delete('estado2');
        
        url.search=params.toString(); //actualiza la cadena de consulta de la URL con los nuevos parámetros.
        window.location.href = url.toString();
    });
    
    const checkDNI = document.getElementById('checkDNI');
    const inputDNI = document.getElementById('inputDNI');
    checkDNI.addEventListener('change', function(){
        inputDNI.disabled = !this.checked; // Si el check está activado, el input se desactiva y viceversa
    });

    // Si el check esta activo, se manda el valor del inputDNI como argumento al URL, si esta desactivado se manda un string vacio
    inputDNI.addEventListener('change', function(){
        let url = new URL(window.location.href);

        // Crear un nuevo objeto URLSearchParams vacío
        let params = new URLSearchParams(url.search);

        if (checkDNI.checked){
            // Validar que el inputDNI sea un número [0-9]
            if (!/^[0-9]+$/.test(this.value)) {
                document.getElementById("messagesLoader").innerHTML = `
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    El campo DNI solo puede contener números
                    <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close"
                    ></button>
                </div>
                `;
                return;
            }
            params.set('dni', this.value);
        } else {
            params.delete('dni');
        }

        params.delete('id');
        params.delete('fecha_inicio');
        params.delete('fecha_final');
        params.delete('comprador');
        params.delete('estado');
        params.delete('estado2');

        url.search=params.toString(); //actualiza la cadena de consulta de la URL con los nuevos parámetros.
        window.location.href = url.toString();
    });

    const inputEstado1 = document.getElementById('inputEstado1');
    const inputEstado2 = document.getElementById('inputEstado2');

    inputEstado1.addEventListener('change', function(){
        let url = new URL(window.location.href);

        // Crear un nuevo objeto URLSearchParams vacío
        let params = new URLSearchParams(url.search);

        params.set('estado', this.value);

        //params.delete('estado2');
        params.delete('id');
        //params.delete('fecha_inicio');
        //params.delete('fecha_final');
        //params.delete('comprador');
        //params.delete('dni');

        url.search=params.toString(); //actualiza la cadena de consulta de la URL con los nuevos parámetros.
        window.location.href = url.toString();
    });

    inputEstado2.addEventListener('change', function(){
        let url = new URL(window.location.href);

        // Crear un nuevo objeto URLSearchParams vacío
        let params = new URLSearchParams(url.search);

        params.set('estado2', this.value);

        params.delete('id');
        //params.delete('fecha_inicio');
        //params.delete('fecha_final');
        //params.delete('comprador');
        //params.delete('dni');

        url.search=params.toString(); //actualiza la cadena de consulta de la URL con los nuevos parámetros.
        window.location.href = url.toString();
    });

</script>

<!--Funciones para Ver la Nota de Pedido y Imprimir la Nota de Pedido-->
<script>
    const btnVer = document.querySelectorAll('#btn-ver');
    const contenidoModal = document.getElementById('contenido-modal');
    const btnImprimir = document.getElementById('imprimir-modal');  

    btnVer.forEach((btn)=>{
        btn.addEventListener('click',(e)=>{
            let id = e.target.dataset.id; //The dataset property on an element provides access to all the custom 'data' attributes (data-*) set on the element.
            const verModalElemento = document.getElementById('verNotaModal');
            const verModal = new bootstrap.Modal(verModalElemento);
            
            // Obteniendo los datos de la nota de pedido modal, para actualizarlos con los valores extraidos de  BD
            const modalComprador=verModalElemento.querySelector('#modal-comprador');
            const modalTelefono=verModalElemento.querySelector('#modal-telefono');
            const modalDireccion=verModalElemento.querySelector('#modal-direccion');
            const modalDNI=verModalElemento.querySelector('#modal-dni');
            const tablaProductos=verModalElemento.querySelector('#tabla-productos');

            //Obteniendo datos desde llamada GET
            fetch(`{{url_for('note.vernotapedido', id='')}}${id}`)
                .then(response => response.json())
                .then(data => {
                    modalComprador.innerHTML='<strong>Sr.(es):</strong>'+ ' ' + data[0].nombre_comprador;
                    modalTelefono.innerHTML='<strong>Telefono:</strong>'+ ' ' + data[0].numero_comprador;
                    modalDireccion.innerHTML='<strong>Direcci&oacute;n:</strong>'+ ' ' + data[0].direccion_comprador;
                    modalDNI.innerHTML='<strong>DNI:</strong>'+ ' ' + data[0].dni_comprador;
                    tablaProductos.innerHTML='';
                    const productosNota = data[0].nombre_producto;
                    let productosNotaArray = JSON.parse(productosNota);

                    productosNotaArray.forEach((nota)=>{
                        let tr = document.createElement('tr');
                        tr.innerHTML=`
                            <td style="font-size:80%; text-align:center;"> <strong>${nota.cantidad}</strong></td>
                            <td style="font-size:80%;">${nota.nombre_producto}</td>
                            <td style="font-size:80%;">${nota.precio_venta_producto}</td>
                            <td style="font-size:80%;"><strong>${(nota.cantidad*nota.precio_venta_producto).toFixed(2)}</strong></td>
                        `;
                        tablaProductos.appendChild(tr);
                    })
                    let tr2 = document.createElement('tr');
                        tr2.innerHTML=`
                            <td colspan="3" align="right" style="font-size:80%;"> <strong>Total:</strong></td>
                            <td style="font-size:80%;"> <strong>${data[0].total_venta}</strong></td>
                        `;
                    tablaProductos.appendChild(tr2);
            
                    })
                .catch(error => console.error('Error:', error));

            verModal.show();
        })
    })

    btnImprimir.addEventListener('click', (e)=>{
        imprimirContenidoModal();
    })

    function imprimirContenidoModal(){
        let contenido = contenidoModal.cloneNode(true);
        let cuerpo = document.body.cloneNode(true);                

        // Mover el contenido del modal al cuerpo
        document.body.innerHTML = '';
        document.body.appendChild(contenido);

        // Imprimir el contenido
        window.print();

        // Volver el contenido al cuerpo
        document.body.innerHTML = '';
        document.body.appendChild(cuerpo);

        location.reload();
        
    }


    const btnImprimirTabla=document.querySelectorAll('#btn-imprimir');
    btnImprimirTabla.forEach((btn)=>{
        btn.addEventListener('click',(e)=>{
            let id = e.target.dataset.id;
            let url = `{{url_for('note.imprimire', id='')}}${id}`;
            window.open(url, '_blank');

        })
    })
</script>

<!--Funciones para Editar la Nota de Pedido-->
<script>
    // Funciones para Editar la Nota de Pedido
    const btnEditar = document.querySelectorAll('#btn-editar');
    btnEditar.forEach((btn)=>{
        btn.addEventListener('click',(e)=>{
            let id = e.target.dataset.id;
            let url = `{{url_for('note.editarnotaventa', id='')}}${id}`;
            window.location.href = url;
        })
    })
</script>

<!-- Funciones para Crear nuevo SalidaIngreso-->
<script>
    document.getElementById("inputFechaSalida").value = new Date().toISOString().split('T')[0];

    // Activacion de modal
    const btnModalIngreso = document.getElementById('boton-nuevo-ingreso-salida');
    const nuevoIngresoSalidaModalElemento = document.getElementById('nuevoIngresoSalidaModal');
    btnModalIngreso.addEventListener('click',()=>{
        const nuevoIngresoSalidaModal = new bootstrap.Modal(nuevoIngresoSalidaModalElemento);
        nuevoIngresoSalidaModal.show();
    });

    // Validar si check esta activo, habilitar el campo nota id
    const checkNotaID = document.getElementById('checkNotaID');
    const inputNotaID = document.getElementById('inputNotaID');
    checkNotaID.addEventListener('change', function(){
        inputNotaID.disabled = !this.checked; // Si el check está activado, el input se desactiva y viceversa
    });


    const btn_nuevo_ingreso = document.getElementById('btn-guardar-nuevo-ingreso-salida');
    btn_nuevo_ingreso.addEventListener('click',(e)=>{
        // Obteniendo los datos del Formulario Nuevo IngresoSalida
        const nuevo_ingreso_form = document.getElementById('nuevoIngresoSalidaForm');
        
        // Obteniendo datos del formulario
        const formData = new FormData(nuevo_ingreso_form);
        let data = {};
        formData.forEach((value, key) => {
            console.log(key, value);
            data[key] = value;
        });

        // Validacion seleccion inputTipoSalida no esta vacio o es undefined (PASS)
        if (data['inputTipoSalida'] === '' || data['inputTipoSalida'] === undefined){
            mostarMensaje('El campo Tipo no puede estar vacio');
            return;
        }

        console.log("pase validacion tipo salida es:" + data['inputTipoSalida']); 
        //Validacion Checkbox Nota ID, si esta activado el inputNotaID no puede estar vacio o ser undefined (PASS)
        if (document.getElementById('checkNotaID').checked && (data['inputNotaID'] === '' || data['inputNotaID'] === undefined)){
            mostarMensaje('El campo Nota ID no puede estar vacio,si esta activado el campo');
            return;
        }
        console.log("pase validacion nota id es:" + data['inputNotaID']);

        // Validar que  el inputTipoSalida sea Egreso, el chekbox esta activado y el inputNotaID no puede estar vacio 
        //si es Egreso el inputDineroDevolver no puede estar vacio   
        if (data['inputTipoSalida'] === 'EGRESO' && document.getElementById('checkNotaID').checked && (data['inputNotaID'] === '' || data['inputNotaID'] ===  undefined) && data['inputDineroDevolver'] === '' ){
            mostarMensaje('El campo Dinero Egreso no puede estar vacio, si el Tipo es Egreso');
            return;
        }
        console.log("pase validacion dinero devolver es:" + data['inputDineroDevolver']);


        // Validar que  el inputTipoSalida sea Ingreso, el chebox esta activado y el inputNotaID no puede estar vacio
        //si es Ingreso el inputDineroIngreso no puede estar vacio 

        if (data['inputTipoSalida'] === 'INGRESO' && document.getElementById('checkNotaID').checked && (data['inputNotaID'] === '' || data['inputNotaID'] === undefined) && data['inputDineroIngreso'] === ''){
            mostarMensaje('El campo Deuda no puede estar vacio, si el Tipo es Ingreso');
            return;
        }

        console.log("pase validacion dinero ingreso es:" + data['inputDineroIngreso']);

        // Validar que el checkbox Nota ID no este activado, si esta desactivado el inputDinero no puede estar vacio (PASS)
        if (!document.getElementById('checkNotaID').checked && data['inputDinero'] === ''){
            mostarMensaje('El campo Cantidad Dinero no puede estar vacio, si el Tipo es Ingreso');
            return;
        }
        console.log("pase validacion dinero es:" + data['inputDinero']);

        // Validar que el inputComentario no este vacio
        if (data['inputComentario'] === ''){
            mostarMensaje('El campo Comentario no puede estar vacio');
            return;
        }
        console.log("pase validacion comentario es:" + data['inputComentario']);
        
        console.log(JSON.stringify(data));
        // Enviar los datos al servidor
        $.ajax({
            url: "{{url_for('note.nuevoingresosalida')}}",
            type: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json',
            dataType: 'json',
            headers: {
                "X-CSRFToken": "{{ csrf_token() }}"
            },
            success: function(data){
                if (data[0]['status'] === 'success'){
                    document.getElementById("messagesLoaderModal").innerHTML = `
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        ${data[0]['message']}
                        <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="alert"
                        aria-label="Close"
                        ></button>
                    </div>
                    `;
                    setTimeout(() => {
                        location.reload();
                    }, 2000);
                } else {
                    document.getElementById("messagesLoaderModal").innerHTML = `
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        ${data[0]['message']}
                        <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="alert"
                        aria-label="Close"
                        ></button>
                    </div>
                    `;
                }
            },
            error: function(error){
                console.error('Error:', error);
            }
        })
        e.preventDefault();
    });

    function mostarMensaje(mensaje){
        document.getElementById("messagesLoaderModal").innerHTML = `
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            ${mensaje}
            <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
            ></button>
        </div>
        `;
    }



</script>

{% endblock %}
