.nombre-item{
    font-size: larger;
    font-weight: 400;
    margin-bottom: 2px;
}
.precio-prefix{
    font-size:medium;
    font-weight: 600;
}

.productos-side-bar{
    display: flex;
    flex-direction: column;
}

.boton-generar-side-bar{
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.1), 0 0 0 1px #CFCFCF;
    background-color: #FFFFFF;
    transition: background-color 0.5s ease;
    border: none;
    margin-bottom: 10px;
}

.boton-side-bar:hover{
    background-color: #f5f5f5;
}

.cantidad-item{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.inputCantidad{
    width: 100px;
    height: 30px;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 0 0 0 1px #CFCFCF;
    background-color: #FFFFFF;
    transition: background-color 0.5s ease;
    border: none;
}

.inputCantidad:hover{
    background-color: #f5f5f5;
}

.boton-eliminar {
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.1), 0 0 0 1px #CFCFCF;
    background-color: #FFFFFF;
    transition: background-color 0.5s ease;
    border: none;
}

.boton-eliminar:hover{
    background-color: #FF7070;
}

.icono-eliminar {
    width: 20px;  /* Cambia esto al ancho que desees */
    height: 20px;  /* Cambia esto a la altura que desees */
}

.vaciar-productos{
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.1), 0 0 0 1px #CFCFCF;
    background-color:#FF7070;
    border: none;
    margin-top: 10px;
}
.vaciar-productos:hover{
    background-color: #db5454;
}