{%extends 'base.html' %}
{% block navbar %}
  {% if log==True %}
    <li class="nav-item">
        <a class="nav-link" href="producto"><strong>Crear Productos</strong></a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="buscar"><strong>Buscar Productos</strong></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="vernotapedido"><strong>Ver Notas de Pedido</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="crearcomprador"><strong>Crear Comprador</strong></a>
    </li> 
    <li class="nav-item">
        <a class="nav-link" href="vercompradores"><strong>Ver Compradores</strong></a>
    </li> 
    <li class="nav-item">
      <a class="nav-link" href="logout"><strong>Log out</strong></a>
    </li>
    
  {%endif%}
{% endblock %}

{% block content %}
{% from "macro.html" import render_field %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <form class="form-inline" id="buscarForm" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                            {{render_field(buscar_form.nombreproducto,class="form-control",placeholder="Search")}}
                        <p class="help-block text-danger"></p>
                    </div>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group cols=xs=12">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container">            
        <div class="product-item">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre Producto</th>
                            <th scope="col">Precio Costo</th>
                            <th scope="col">Precio Venta</th>
                            <th scope="col">Fecha Actualizacion</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Stock</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for producto in productos%}
                        <form method="post" action="/add">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                            <tr>
                                <th scope="row">{{producto.id}}</th>
                                <td>{{producto.nombre_producto}}</td>
                                <td>{{producto.precio_costo_producto}}</td>
                                <td>{{producto.precio_venta_producto}}</td>
                                <td>{{producto.get_fecha_actualizacion_producto()}}</td>
                                <td> 
                                    <input type="hidden" name="code" value="{{ producto.id }}"/>
                                    <input type="text" class="product-quantity" name="quantity" value="1" size="2" />
                                    <input type="submit" value="Agregar a Nota de Pedido" class="btnAddAction" />
                                </td>
                                <td>{{producto.get_stock()}}</td>
                                <td> 
                                    <a class="btn btn-primary" href="{{ url_for('editar_id', id=producto.id) }}">Actualizar</a>
                                </td>
                                <td>
                                    <a class="btn btn-danger" href="{{ url_for('eliminarproducto',id=producto.id)}}">Eliminar</a>
                                </td>
                            </tr>
                        </form>
                        {% endfor %}
                    </tbody>
                </table>
        </div> 
    </div>  

    {% if prd==True %}
    <br>
    <br>
    <form id="buscar_comprador" method="POST" action="/buscarcompradorbydni">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="form-group row">
            <label for="DNIComprador" class="col-sm2 col-form-label">Busca por DNI:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="DNIComprador" name="dni_comprador" />
            </div>
        </div>
        <input type="submit" value="Buscar-DNI" class="btnBuscarDNIPrd"/>
    </form>

        <h3>Nota de Pedido</h3>
        <form id="crear_nota" method="POST" action="/crearnotapedido">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <div class="form-group row">
                <label for="NombreComprador" class="col-sm2 col-form-label">Nombre del comprador:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="NombreComprador" name="comprador_name" value="{{session['nombre_comprador']}}" required />
                </div>
            </div>
            <div class="form-group row">
                <label for="DireccionComprador" class="col-sm2 col-form-label">Direccion:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="DireccionComprador" name="direccion_comprador" value="{{session['direccion_comprador']}}" required />
                </div>
            </div>
            <div class="form-group row">
                <label for="DNIComprador" class="col-sm2 col-form-label">DNI:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="DNIComprador" name="dni_comprador" value="{{session['dni_comprador']}}" required />
                </div>
            </div>
            <div class="form-group row">
                <label for="NumeroComprador" class="col-sm2 col-form-label">Telefono:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="NumeroComprador" name="telefono_comprador" value="{{session['telefono_comprador']}}" required />
                </div>
            </div>
            
            <div class="form-group row">
                <label for="EstadoNota" class="col-sm2 col-form-label">Estado:</label>
                <div class="col-sm-4">
                    <select name="estado" id="EstadoNota">
                        <option value="cancelado">CANCELADO</option>
                        <option value="cancelado-entregado">CANCELADO-ENTREGADO</option>
                        <option value="cancelado-por-recoger">CANCELADO POR RECOGER</option>
                        <option value="por-cancelar">POR CANCELAR</option>
                        <option value="cancelado-visa-YAPE">CANCELADO YAPE</option>
                        <option value="cancelado-visa-YAPE-ENTREGADO">CANCELADO YAPE-ENTREGADO</option>
                        <option value="cancelado-visa">CANCELADO VISA</option>
                        <option value="cancelado-visa-BCP">CANCELADO BCP</option>
                        <option value="cancelado-visa-BCP-ENTREGADO">CANCELADO BCP ENTREGADO</option>
                        <option value="cancelado-visa-BBVA">CANCELADO BBVA</option>
                        <option value="cancelado-visa-BBVA-ENTREGADO">CANCELADO BBVA ENTREGADO</option>
                      
                        <option value="cancelado-visa-por-recoger">CANCELADO VISA POR RECOGER</option>
                        <option value="PROFORMA">PROFORMA</option>
                    </select>
                </div>
            </div>
            <br> 
            <button type="submit" class="btn btn-success btn-sm">Crear Nota Pedido</button>
        </form>
        <br>
        <a id="btnEmpty"  class="btn btn-secondary btn-sm" href="{{ url_for('.empty_cart') }}" role="button" style="position:sticky">Vaciar Nota de Pedido</a>

        <div class="table-responsive-xxl">
            <table class="table align-middle">
                <thead>
                    <th scope="col">#</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Nombre Producto</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Sub Total</th>
                    <th scope="col">Delete</th>
                </thead>
                <tbody>
                        {% for key,product in session['producto'].items() %}
                            <form method="post" action="/updateproduct">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                    <tr>
                                        <td>{{loop.index}} </td>
                                        <td>
                                            <input type="hidden" name="code" value="{{key}}" />
                                            <input type="text" class="product-quantity" name="quantity" value="{{product.cantidad}}" size="2" /> 
                                            <input type="submit" value="Actualizar Cantidad" class="btnUpdtCant" />
                                        </td>
                            </form>
                                        <td>{{product.name}}</td>
                                        <form method="post" action="/updateprice">
                                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />       
                                                <td>
                                                    <input type="hidden" name="code" value="{{key}}" />
                                                    <input type="text" class="product-price" name="price" value="{{product.precio}}" size="2" /> 
                                                    <input type="submit" value="Actualizar Precio" class="btnUpdtPrice" />
                                                </td>
                                        </form>
                                        <td>{{product.precio_individual}}</td>
                                        <form method="post" action="/delete">
                                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                            <td>
                                                <input type="hidden" name="code" value="{{product.id}}" />
                                                <input type="submit" value="Eliminar" class="btnDeletePrd" style="background-color: #f54257; border-radius: 1cm;" />
                                            </td>
                                        </form>
                                    </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="4" align="right"> Total:</td>
                            <td> <strong>{{session['total_venta']}}</strong></td>
                        </tr>
                </tbody>
            </table>
            <a class="btn btn-primary" href="{{ url_for('imprimir') }}" target="_blank" >Imprimir</a>
        </div>

           
    {%endif%}
{% endblock %}
