{%extends 'base.html' %}
{% block navbar %}
  {% if log %}
    <li class="nav-item">
        <a class="nav-link active" href="producto"><strong>Crear Productos</strong></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="buscar"><strong>Buscar Productos</strong></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="vernotapedido"><strong>Ver Notas de Pedido</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="crearcomprador"><strong>Crear Comprador</strong></a>
    </li>  
    <li class="nav-item">
      <a class="nav-link" href="logout"><strong>Log out</strong></a>
    </li>
  {%endif%}
{% endblock %}

{% block content %}
{% from "macro.html" import render_field %} 
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <br>
                <br>
                <form id="loginForm" method="POST" >
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating label-form-group controls">
                            {{render_field(producto_form.nombre_producto,class="form-control")}}
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="'form-group col-xs-12 floating-label-form-group controls">
                            {{render_field(producto_form.precio_costo_producto,class="form-control")}}
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="'form-group col-xs-12 floating-label-form-group controls">
                            {{render_field(producto_form.precio_venta_producto,class="form-control")}}
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group cols=xs=12">
                            <button type="submit" class="btn btn-primary">Crear</button>
                        </div>
                    </div>
                </form>                
            </div>
        </div>
    </div>
{% endblock %}