{%extends 'base.html' %}
{% block navbar %}
  {% if log==True %}
    <li class="nav-item">
        <a class="nav-link" href="producto"><strong>Crear Productos</strong></a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="buscar"><strong>Buscar Productos</strong></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="vernotapedido"><strong>Ver Notas de Pedido</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="crearcomprador"><strong>Crear Comprador</strong></a>
    </li> 
    <li class="nav-item">
      <a class="nav-link" href="vercompradores"><strong>Ver Compradores</strong></a>
  </li> 
    <li class="nav-item">
      <a class="nav-link" href="logout"><strong>Log out</strong></a>
    </li>
    
 

  {%endif%}
{% endblock %}

{% block content %}
    {% from "macro.html" import render_field %} 
    <form method="post">
        <div class="form-group row">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            
            <label for="comprador-label" class="col-sm-2 col-form-label">Nombre Comprador:</label>
            <div class="col-sm-10">
              <input type="text" name='nombre_comprador' value="{{form_compra.nombre_comprador}}"/>
            </div>
        </div>

        <div class="form-group row">
            <label for="num-telefono" class="col-sm-2 col-form-label"> Numero Telefono:</label>
            <div class="col-sm-10">
              <input type="text" name="numero_telefono" value="{{form_compra.numero_telefono_comprador}}"/>
            </div>
        </div>
        <div class="form-group row">
            <label for="tipo-comprador" class="col-sm-2 col-form-label"> Tipo Comprador:</label>
            <div class="col-sm-10">
                <select name="tipo_comprador">
                <option value="persona">Persona</option>
                <option value="empresa">Empresa</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="direccion-comprador" class="col-sm-2 col-form-label">Direccion Comprador:</label>
            <div class="col-sm-10">
                <input type="text" name="direccion_comprador" value="{{form_compra.direccion_comprador}}"/>
            </div>
        </div>
        <div class="form-group row" >
          <label for="dni-comprador" class="col-sm-2 col-form-label">DNI:</label>
          <div class="col-sm-10">
              <input type="text" name="dni" value="{{form_compra.dni}}"/>
          </div>
      </div>

        <div class="form-group row">
            <div class="col-sm-10">
              <a class="btn btn-success" href="{{ url_for('vercompradores') }}">Regresar</a>
              <button type="submit" class="btn btn-primary">Actualizar</button>
            </div>
          </div>
    </form>

{% endblock %}