{%extends 'base.html' %}
{% block navbar %}
  {% if log %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('crear_producto') }}"><strong>Crear Productos</strong></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('buscar_producto') }}"><strong>Buscar Productos</strong></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="vernotapedido"><strong>Ver Notas de Pedido</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="crearcomprador"><strong>Crear Comprador</strong></a>
    </li>  
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('logout') }}"><strong>Log out</strong></a>
    </li>
  {%endif%}
{% endblock %}

{% block content %}
{% from "macro.html" import render_field %} 
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <br>
                <br>
                
                <form id="editar_form" method="POST" >
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating label-form-group controls">
                            <label for="NombreComprador" class="col-sm2 col-form-label"> Nombre Comprador </label>
                            <input type="text" value="{{nota.get_nombre_comprador()}}" id="NombreComprador" name="comprador_name"/>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label for="DireccionComprador" class="col-sm2 col-form-label">Direccion Comprador</label>
                            <input type="text" id="DireccionComprador" value="{{nota.get_direccion()}}" name="direccion_comprador"/>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <label for="EstadoNota"> Estado:</label>
                    <input type="text" placeholder="{{nota.get_estado()}}" disabled/>
                    <select name="estado" id="EstadoNota">
                        <option value="cancelado">CANCELADO</option>
                        <option value="por-cancelar">POR CANCELAR</option>
                        <option value="cancelado-visa">CANCELADO VISA</option>
                        <option value="cancelado-entregado">CANCELADO-ENTREGADO</option>
                        <option value="por-cancelar-entregado">POR CANCELAR-ENTREGADO</option>
                        <option value="cancelado-visa-entregado">CANCELADO VISA-ENTREGADO</option>
                        <option value="cancelado-por-recoger">CANCELADO POR RECOGER</option>
                        <option value="cancelado-visa-por-recoger">CANCELADO VISA POR RECOGER</option>
                        <option value="PROFORMA">PROFORMA</option>
                    </select>
                    <br>
                    <br>
                    <div class="row">
                        <div class="form-group cols=xs=12">
                            <a class="btn btn-success" href="{{ url_for('vernotapedido') }}">Regresar</a>
                            <button type="submit" class="btn btn-primary">Actualizar</button>
                            
                        </div>
                    </div>
                </form>                
            </div>
        </div>
    </div>
{% endblock %}