{% extends 'base.html' %} 
{% block navbar %}
  {% if log==True %}
    <li class="nav-item">
        <a class="nav-link" href="producto"><strong>Crear Productos</strong></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="buscar"><strong>Buscar Productos</strong></a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="vernotapedido"><strong>Ver Notas de Pedido</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="crearcomprador"><strong>Crear Comprador</strong></a>
    </li>  
    <li class="nav-item">
        <a class="nav-link" href="vercompradores"><strong>Ver Compradores</strong></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="logout"><strong>Log out</strong></a>
    </li>    

  {%endif%}
{% endblock %}

{% block content %}
{% from "macro.html" import render_field %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <form id="SeleccionBusqueda" method="post" action="/vernotapedido">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <select name="seleccionbusqueda">
                    <option value="Fecha">Fecha</option>
                    <option value="Nombre">Nombre</option>
                    <option value="DNI"> Buscar por DNI</option>
                    <option value="Ordenar por Cantidad">Ordenar por Cantidad</option>
                    <option value="Estado">Estado</option>
                    <!-- <option value="ID">Numero de Nota de Pedido</option> -->
                </select>
                <button type="submit" class="btn btn-dark" >Filtrar</button>
            </form>
        </div>
    </div>
</div>
{% if bool_fecha==True %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <form class="form-inline" id="buscarForm" method="POST" action="/vernotaporfecha">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label for="Fecha_inicio" class="col-sm2 col-form-label">Fecha Inicio</label>
                        <div class="col-sm-4">
                            <input type="date" class="form-control" id="Fecha_inicio" name="fecha_inicio" required />
                        </div>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label for="Fecha_final" class="col-sm2 col-form-label">Fecha Final</label>
                        <div class="col-sm-4">
                            <input type="date" class="form-control" id="Fecha_final" name="fecha_final" required />
                        </div>
                    <p class="help-block text-danger"></p>
                </div>
                    <div class="row">
                        <div class="form-group cols=xs=12">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar Fechas</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{%elif bool_resumen==True%}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <form class="form-inline" id="buscarForm" method="POST" action="/verresumennotashoy">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <div class="row control-group">
                <div class="form-group col-xs-12 floating-label-form-group controls">
                    <label for="Fecha_seleccionada" class="col-sm2 col-form-label">Fecha de Resumen:</label>
                    <div class="col-sm-4">
                        <input type="date" class="form-control" id="Fecha_seleccionada" name="fecha_seleccionada" required />
                    </div>
                    <p class="help-block text-danger"></p>
                </div>
                <div class="row">
                    <div class="form-group cols=xs=12">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar Fecha</button>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
{% elif bool_nombre==True %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <form class="form-inline" id="buscarForm" method="POST" action="/vernotapornombre">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <div class="row control-group">
                    <div class="form-group col-xs-10 floating-label-form-group controls">
                        <label for="NombreComprador" class="col-sm2 col-form-label">Nombre Comprador</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="NombreComprador" name="nombre_comprador" required />
                        </div>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="row">
                        <div class="form-group cols=xs=12">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
{% elif id_cambio==True %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <form class="form-inline" id="buscarForm" method="POST" action="/vernotaporid">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <div class="row control-group">
                <div class="form-group col-xs-10 floating-label-form-group controls">
                    <label for="IDNota" class="col-sm2 col-form-label">Numero de Nota de Pedido</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="IDNota" name="id_nota" required />
                    </div>
                    <p class="help-block text-danger"></p>
                </div>
                <div class="row">
                    <div class="form-group cols=xs=12">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
{% elif bool_estado==True %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <form id="OpcionBusqueda" method="post" action="/vernotaporestado">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <select name="opcionestado" id="OpcionesBusqueda">
                    <option value="cancelado-">CANCELADO</option>
                    <option value="por-cancelar-">POR CANCELAR</option>
                    <option value="cancelado-visa-">CANCELADO VISA</option>
                    <option value="cancelado-entregado-">CANCELADO-ENTREGADO</option>
                    <option value="por-cancelar-entregado-">POR CANCELAR-ENTREGADO</option>
                    <option value="cancelado-visa-entregado-">CANCELADO VISA-ENTREGADO</option>
                    <option value="cancelado-por-recoger-">CANCELADO POR RECOGER</option>
                    <option value="cancelado-visa-por-recoger-">CANCELADO VISA POR RECOGER</option>
                    <option value="PROFORMA-">PROFORMA</option>
                    <option value="ANULADO-">ANULADO</option>
                </select>
                <button type="submit" class="btn btn-info" >Buscar</button>
            </form>
        </div>
    </div>
</div>
{% elif bool_dni==True %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <form class="form-inline" id="buscarForm" method="POST" action="/vernotaporDNI">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <div class="row control-group">
                <div class="form-group col-xs-10 floating-label-form-group controls">
                    <label for="DNIComprador" class="col-sm2 col-form-label">DNI Comprador: </label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="DNIComprador" name="dni_comprador" required />
                    </div>
                    <p class="help-block text-danger"></p>
                </div>
                <div class="row">
                    <div class="form-group cols=xs=12">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
{%endif%}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="table-responsive-xxl">
                <table class="table align-middle">
                    <thead>
                        <th scope="col">#</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Total</th>
                        <th scope="col">Estado </th>
                        <th scope="col">Ver</th>
                        <th scope="col">Imprimir</th>
                        <th scope="col">Editar</th>
                    </thead>
                    <tbody>
                        {% for notaped in nota_pedido %}
                        <tr>
                            <td> {{notaped.get_id()}}</td>
                            <td> {{notaped.get_fecha()}}</td>
                            <td> {{notaped.get_nombre_comprador()}}</td>
                            <td> {{notaped.get_total_venta()}}</td>
                            <td>{{notaped.get_estado()}}</td>
                            <td>
                                <input type="hidden"  id='token' name="csrf_token" value="{{ csrf_token() }}" />
                                <input type="submit" data-id="{{notaped.get_id()}}" value="Ver" class="btnSeebyId"/>
                            </td>
                            <td>
                                <a class="btn btn-primary" href="{{ url_for('imprimire',id=notaped.get_id() ) }}" target="_blank" >Imprimir</a>
                            </td>
                            <td>
                                <a class="btn btn-info" href="{{ url_for('editarnota',id=notaped.get_id() ) }}" target="_blank" >Editar</a>
                            </td>
                            <td>
                                <a class="btn btn-warning" href="{{ url_for('anularnota',id=notaped.get_id() )}}">Anular</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if bool_imprimir==True %}
            <a class="btn btn-primary" href="{{ url_for('imprimirresumen',fecha=fechita,fecha_final=fechita_final) }}" target="_blank" >Imprimir-Resumen</a>
            {% endif %}
            <p><strong>Total Venta del Dia:</strong> {{td}}</p>
            <p><strong>Total Venta del Dia por Visa:</strong> {{tdv}}</p>
            <p><strong>Total Venta del Dia por Cancelar:</strong> {{tdpc}}</p>
        </div>
    </div>
    
</div>

  <div class="modal fade" id="empModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Nota Pedido</h4>
              <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script type='text/javascript'>
    $(document).ready(function(){
        $('.btnSeebyId').click(function(){
            var notaid = $(this).data('id');
            var csrf_token = $('#token').val();
            $.ajax({
                url: '/vernotapedidobyID',
                type: 'post',
                headers:{
                    "X-CSRFToken":csrf_token,
                },
                data: {notaid: notaid},
                success: function(data){
                    $('.modal-body').html(data); 
                    $('.modal-body').append(data.htmlresponse);
                    $('#empModal').modal('show'); 
                }
            });
        });
    });
    </script>

{% endblock %}
