{% extends 'base.html' %} 
{% block navbar %}
  {% if log==True %}
    <li class="nav-item">
        <a class="nav-link" href="producto"><strong>Crear Productos</strong></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="buscar"><strong>Buscar Productos</strong></a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="vernotapedido"><strong>Ver Notas de Pedido</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="crearcomprador"><strong>Crear Comprador</strong></a>
    </li>  
    <li class="nav-item">
      <a class="nav-link" href="logout"><strong>Log out</strong></a>
    </li>    

  {%endif%}
{% endblock %}

{% block content %}
{% from "macro.html" import render_field %}
{% if bool_fecha==True %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <form class="form-inline" id="buscarForm" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                            {{render_field(buscar_nota_por_fecha.fecha_inicio,class="form-control")}}
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        {{render_field(buscar_nota_por_fecha.fecha_final,class="form-control")}}
                    <p class="help-block text-danger"></p>
                </div>
                    <div class="row">
                        <div class="form-group cols=xs=12">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar Fechas</button>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
    <div class="table-responsive-xxl">
        <table class="table align-middle">
            <thead>
                <th scope="col">#</th>
                <th scope="col">Fecha</th>
                <th scope="col">Nombre</th>
                <th scope="col">Total</th>
                <th scope="col">Ver</th>
            </thead>
            <tbody>
                {% for notaped in nota_pedido %}
                <tr>
                    <td> {{loop.index}}</td>
                    <td> {{notaped.get_fecha()}}</td>
                    <td> {{notaped.get_nombre_comprador()}}</td>
                    <td> {{notaped.get_total_venta()}}</td>
                    <td>
                        <input type="hidden"  id='token' name="csrf_token" value="{{ csrf_token() }}" />
                        <input type="submit" data-id="{{notaped.get_id()}}" value="Ver" class="btnSeebyId"/>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% elif bool_nombre==True %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <form class="form-inline" id="buscarForm" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <div class="row control-group">
                    <div class="form-group col-xs-10 floating-label-form-group controls">
                            {{render_field(buscar_nota.nombrecomprador,class="form-control",placeholder="Search")}}
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="row">
                        <div class="form-group cols=xs=12">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div class="table-responsive-xxl">
        <table class="table align-middle">
            <thead>
                <th scope="col">#</th>
                <th scope="col">Fecha</th>
                <th scope="col">Nombre</th>
                <th scope="col">Total</th>
                <th scope="col">Ver</th>
            </thead>
            <tbody>
                {% for notaped in nota_pedido %}
                <tr>
                    <td> {{loop.index}}</td>
                    <td> {{notaped.get_fecha()}}</td>
                    <td> {{notaped.get_nombre_comprador()}}</td>
                    <td> {{notaped.get_total_venta()}}</td>
                    <td>
                        <input type="hidden"  id='token' name="csrf_token" value="{{ csrf_token() }}" />
                        <input type="submit" data-id="{{notaped.get_id()}}" value="Ver" class="btnSeebyId"/>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% elif bool_order==True %}
<div class="table-responsive-xxl">
    <table class="table align-middle">
        <thead>
            <th scope="col">#</th>
            <th scope="col">Fecha</th>
            <th scope="col">Nombre</th>
            <th scope="col">Total</th>
            <th scope="col">Ver</th>
        </thead>
        <tbody>
            {% for notaped in nota_pedido %}
            <tr>
                <td> {{loop.index}}</td>
                <td> {{notaped.get_fecha()}}</td>
                <td> {{notaped.get_nombre_comprador()}}</td>
                <td> {{notaped.get_total_venta()}}</td>
                <td>
                    <input type="hidden"  id='token' name="csrf_token" value="{{ csrf_token() }}" />
                    <input type="submit" data-id="{{notaped.get_id()}}" value="Ver" class="btnSeebyId"/>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{%endif%}

  <div class="modal fade" id="empModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Nota Pedido</h4>
              <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script type='text/javascript'>
    $(document).ready(function(){
        $('.btnSeebyId').click(function(){
            var notaid = $(this).data('id');
            var csrf_token = $('#token').val();
            $.ajax({
                url: '/vernotapedidobyID',
                type: 'post',
                headers:{
                    "X-CSRFToken":csrf_token,
                },
                data: {notaid: notaid},
                success: function(data){
                    $('.modal-body').html(data); 
                    $('.modal-body').append(data.htmlresponse);
                    $('#empModal').modal('show'); 
                }
            });
        });
    });
    </script>

{% endblock %}